Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

default_language_version:
  python: python3

ci:
  skip: [generate-pixi-docs, settings-doc-check]

default_stages: [pre-commit]

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - sqlalchemy
          - types-PyYAML
          - types-cachetools
          - types-requests
          - types-python-dateutil
          - types-aiobotocore[essential]
          - boto3-stubs[essential]
        exclude: ^(diracx-client/src/diracx/client/_generated|diracx-[a-z]+/tests/|diracx-testing/|build|extensions/gubbins/gubbins-client/src/gubbins/client/_generated)

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--number"]
        exclude: ^CHANGELOG\.md$
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-gfm

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-w"]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==22.12.0

  - repo: local
    hooks:
      - id: check-lollygag
        name: check for lollygag
        types: [python]
        entry: "(?i)lollygag"
        language: pygrep
        files: ^diracx

  - repo: local
    hooks:
      - id: generate-pixi-docs
        name: Generate pixi tasks documentation
        entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
        language: system
        pass_filenames: false
        files: ^pixi\.toml$|^pixi\.lock$ # only run if pixi files change

  - repo: local
    hooks:
      - id: settings-doc-check
        name: Generate settings documentation
        entry: pixi run -e default python scripts/generate_settings_docs.py
        language: system
        pass_filenames: false
        files: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$

fix: added __all__
  diracx-db/src/diracx/db/sql/pilots/db.py
Due: check-lollygag

feat: added insert and get pilot output
  diracx-db/src/diracx/db/sql/pilots/db.py
Due: check-lollygag

fix: Add more security to the pilot creation router
  diracx-routers/src/diracx/routers/pilots/management.py
Due: check-lollygag

test: add DB-level pilot tests and remove dead router tests
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/tests/pilots/__init__.py
  diracx-db/tests/pilots/test_pilot_db.py
  diracx-routers/tests/jobs/test_query.py
  diracx-routers/tests/pilots/test_pilot_creation.py
Due: check-lollygag

fix: Fixed a micro typo
  diracx-logic/src/diracx/logic/pilots/management.py
Due: check-lollygag

fix: regenerate client
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-client/src/diracx/client/patches/pilots/aio.py
  diracx-client/src/diracx/client/patches/pilots/sync.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  docs/admin/reference/env-variables.md
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

chore: regenerate client
  diracx-client/src/diracx/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

chore: use pixi.lock from upstream/main
  pixi.lock
Due: generate-pixi-docs

fix: removed pilots delete route
  diracx-routers/src/diracx/routers/pilots/management.py
Due: check-lollygag

fix: register_pilot route moved to single pilot registration
  diracx-routers/src/diracx/routers/pilots/management.py
  diracx-routers/tests/pilots/test_pilot_creation.py
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/aio/operations/_patch.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-client/src/diracx/client/_generated/operations/_patch.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/search.py
  diracx-db/src/diracx/db/sql/dummy/db.py
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-routers/src/diracx/routers/pilots/access_policies.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

docs: update diracx-in-a-container-docs (#987)
  docs/admin/how-to/install-without-kubernetes/installing-in-a-container.md
  docs/admin/how-to/install-without-kubernetes/prepare-container-node.md
Due: none

feat(routers): move DiracHttpResponseError to routers layer
  .gitignore
  diracx-core/src/diracx/core/exceptions.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/exceptions.py
  diracx-routers/src/diracx/routers/factory.py
  docs/dev/reference/coding-conventions.md
Due: check-lollygag

Forgot to inline class name in coding-conventions.md
  docs/dev/reference/coding-conventions.md
Due: none

Update .gitignore
  .gitignore
Due: none

refactor(routers): return OAuth pending response directly in token route
  diracx-core/src/diracx/core/exceptions.py
  diracx-routers/src/diracx/routers/factory.py
Due: check-lollygag

fix(api): add bulk_upsert method and unit tests for opensearch BaseOSDB class
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/utils/test_utils.py
Due: check-lollygag

fix(api): adjust failed unit tests
  diracx-db/tests/utils/test_utils.py
Due: check-lollygag

refactor(routers): replace DiracHttpResponseError with direct JSONResponse in token flow
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/exceptions.py
  diracx-routers/src/diracx/routers/factory.py
  docs/dev/reference/coding-conventions.md
Due: check-lollygag

fix: minor fixes to the advanced tutorial
  docs/dev/tutorials/advanced-tutorial/index.md
  scripts/tutorial_reset.py
Due: none

fix(docs): improve advanced tutorial instructions
  docs/dev/tutorials/advanced-tutorial/router.md
Due: none

docs(dev-reference): use plain text path for factory.py reference
  docs/dev/reference/coding-conventions.md
Due: none

docs: modify rest style comments: docconvert --input rest --output google
  diracx-core/src/diracx/core/sources.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/src/diracx/logic/task_queues/priority.py
  diracx-routers/src/diracx/routers/access_policies.py
  diracx-routers/src/diracx/routers/factory.py
  extensions/gubbins/gubbins-cli/src/gubbins/cli/config.py
  extensions/gubbins/gubbins-cli/src/gubbins/cli/lollygag.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/db.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/lollygag/db.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/lollygag/access_policy.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/lollygag/lollygag.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/well_known.py
  pyproject.toml
Due: check-lollygag

fix: minor fixes to the advanced tutorial (#991)
  docs/dev/tutorials/advanced-tutorial/index.md
  docs/dev/tutorials/advanced-tutorial/router.md
  scripts/tutorial_reset.py
Due: none

feat(tasks): add dummy job executor
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/how-to/tasks/run-task-manually.md
Due: check-lollygag

feat(tasks): fully implement the dummy job executor
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/how-to/tasks/run-task-manually.md
Due: check-lollygag

chore(main): release 0.3.1
  CHANGELOG.md
Due: none

docs: implement suggestions from a review
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-logic/src/diracx/logic/jobs/status.py
Due: check-lollygag

fix(tasks): address dummy executor review feedback
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/how-to/tasks/run-task-manually.md
  run_local.sh
Due: check-lollygag

fix(tasks): expose dummy executor settings
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
Due: check-lollygag, settings-doc-check

fix: make redis a mandatory parameter of task_wrapper
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-tasks/src/diracx/tasks/task_run.py
  diracx-tasks/tests/test_task_wrapper.py
Due: check-lollygag

test: assert task_wrapper requires _redis
  diracx-tasks/tests/test_task_wrapper.py
Due: check-lollygag

refactor(routers): remove DiracHttpResponseError and simplify OAuth pending response handling (#988)
  diracx-core/src/diracx/core/exceptions.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/factory.py
  docs/dev/reference/coding-conventions.md
Due: check-lollygag

docs: modify rest style comments with doc convert to follow google style. (#993)
  diracx-core/src/diracx/core/sources.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/src/diracx/logic/task_queues/priority.py
  diracx-routers/src/diracx/routers/access_policies.py
  diracx-routers/src/diracx/routers/factory.py
  extensions/gubbins/gubbins-cli/src/gubbins/cli/config.py
  extensions/gubbins/gubbins-cli/src/gubbins/cli/lollygag.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/db.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/lollygag/db.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/lollygag/access_policy.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/lollygag/lollygag.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/well_known.py
  pyproject.toml
Due: check-lollygag

fix: make redis a mandatory parameter of task_wrapper (#1000)
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-tasks/src/diracx/tasks/task_run.py
  diracx-tasks/tests/test_task_wrapper.py
Due: check-lollygag

fix: streamline pilot routes/logic/db according to the legacy PilotManagerHandler
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-client/src/diracx/client/patches/pilots/common.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/tests/pilots/test_pilot_db.py
  diracx-logic/src/diracx/logic/pilots/__init__.py
  diracx-logic/src/diracx/logic/pilots/management.py
  diracx-logic/src/diracx/logic/pilots/query.py
  diracx-routers/src/diracx/routers/pilots/access_policies.py
  diracx-routers/src/diracx/routers/pilots/management.py
  diracx-routers/tests/pilots/test_access_policy.py
  diracx-routers/tests/pilots/test_pilot_creation.py
  diracx-routers/tests/pilots/test_query.py
  docs/admin/explanations/pilots.md
  docs/dev/explanations/pilots.md
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

fix: make pilot exceptions HTTP-agnostic and translate them in the routers
  diracx-core/src/diracx/core/exceptions.py
  diracx-routers/src/diracx/routers/pilots/management.py
Due: check-lollygag

refactor: align pilots with latest changes in diracx
  .pre-commit-config.yaml
  diracx-core/src/diracx/core/models/pilot.py
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/tests/pilots/test_pilot_db.py
  diracx-logic/src/diracx/logic/pilots/management.py
  diracx-logic/src/diracx/logic/pilots/query.py
  diracx-routers/src/diracx/routers/pilots/management.py
  diracx-routers/tests/pilots/test_management.py
  diracx-routers/tests/pilots/test_query.py
  docs/dev/explanations/pilots.md
Due: check-lollygag
