Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

default_language_version:
  python: python3

ci:
  skip: [generate-pixi-docs, settings-doc-check]

default_stages: [pre-commit]

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - sqlalchemy
          - types-PyYAML
          - types-cachetools
          - types-requests
          - types-python-dateutil
          - types-aiobotocore[essential]
          - boto3-stubs[essential]
        exclude: ^(diracx-client/src/diracx/client/_generated|diracx-[a-z]+/tests/|diracx-testing/|build|extensions/gubbins/gubbins-client/src/gubbins/client/_generated)

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--number"]
        exclude: ^CHANGELOG\.md$
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-gfm

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-w"]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==22.12.0

  - repo: local
    hooks:
      - id: check-lollygag
        name: check for lollygag
        types: [python]
        entry: "(?i)lollygag"
        language: pygrep
        files: ^diracx

  - repo: local
    hooks:
      - id: generate-pixi-docs
        name: Generate pixi tasks documentation
        entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
        language: system
        pass_filenames: false
        files: ^pixi\.toml$|^pixi\.lock$ # only run if pixi files change

  - repo: local
    hooks:
      - id: settings-doc-check
        name: Generate settings documentation
        entry: pixi run -e default python scripts/generate_settings_docs.py
        language: system
        pass_filenames: false
        files: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$

style: align pilot type hints, imports, and docs with jobs conventions
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-logic/src/diracx/logic/pilots/management.py
  diracx-routers/src/diracx/routers/pilots/management.py
  diracx-routers/src/diracx/routers/pilots/query.py
  docs/dev/explanations/pilots.md
Due: check-lollygag

fix: make sure the VO exists when registering a pilot
  diracx-logic/src/diracx/logic/pilots/management.py
  diracx-routers/src/diracx/routers/pilots/management.py
  diracx-routers/tests/pilots/test_management.py
Due: check-lollygag

chore: add gh issue ref to TODO in pilot management
  diracx-logic/src/diracx/logic/pilots/management.py
Due: check-lollygag

refactor: introduce a PilotRegistrationParams model to register a pilot
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-logic/src/diracx/logic/pilots/__init__.py
  diracx-logic/src/diracx/logic/pilots/management.py
  diracx-routers/src/diracx/routers/pilots/management.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

refactor: update clients
  diracx-client/src/diracx/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

feat: return 201 Created from job and pilot creation endpoints
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-routers/src/diracx/routers/jobs/submission.py
  diracx-routers/src/diracx/routers/pilots/management.py
  diracx-routers/tests/jobs/conftest.py
  diracx-routers/tests/jobs/test_query.py
  diracx-routers/tests/jobs/test_sandboxes.py
  diracx-routers/tests/jobs/test_status.py
  diracx-routers/tests/pilots/test_management.py
  diracx-routers/tests/pilots/test_query.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
  extensions/gubbins/gubbins-routers/tests/test_gubbins_job_manager.py
Due: check-lollygag

docs: fix copy-pasted docstring in DummyDB.summary
  diracx-db/src/diracx/db/sql/dummy/db.py
Due: check-lollygag

fix: drop dead foreign-key error branch in assign_jobs_to_pilot
  diracx-db/src/diracx/db/sql/pilots/db.py
Due: check-lollygag

fix: align PilotAgents indexes with the legacy DIRAC schema
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-logic/src/diracx/logic/pilots/management.py
Due: check-lollygag

test: cover pilot VO isolation at the logic level
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag

refactor: drop unused job-ownership branch from the pilot access policy
  diracx-routers/src/diracx/routers/pilots/access_policies.py
Due: check-lollygag

feat: validate pilot string lengths at the API boundary
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-routers/tests/pilots/test_management.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

fix: avoid 500 errors when job parameters cannot be stored
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_upsert.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/tests/jobs/test_status.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/jobs/test_heartbeat_commands.py
  diracx-routers/tests/jobs/test_status.py
  diracx-routers/tests/pilots/test_management.py
  docs/dev/reference/coding-conventions.md
Due: check-lollygag

docs: move D100-D300 to per-file-ignores, forbid rest-docstrings in pre-commit
  .pre-commit-config.yaml
  diracx-routers/tests/health/test_probes.py
  pyproject.toml
Due: check-lollygag

docs: add gubbins client to forbid rest-docstrings in pre-commit
  .pre-commit-config.yaml
Due: none

chore(main): release 0.4.0
  CHANGELOG.md
Due: none

feat(tasks): add diracx-tasks command alias and switch local launchers
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/task_run.py
  run_local.sh
  run_local_tasks.sh
Due: check-lollygag

docs(tasks): migrate guidance to diracx-tasks with alias note
  docs/admin/explanations/tasks.md
  docs/admin/how-to/tasks/configure.md
  docs/admin/how-to/tasks/run-task-manually.md
  docs/dev/explanations/tasks/class-details.md
  docs/dev/explanations/tasks/index.md
  docs/dev/how-to/add-a-task.md
  docs/dev/reference/pixi-tasks.md
  docs/dev/reference/tasks.md
  pixi.toml
Due: generate-pixi-docs

feat(tasks): scaffold condor job executor
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/condor_job_executor.py
  diracx-tasks/tests/test_condor_job_executor.py
  docs/admin/how-to/tasks/run-task-manually.md
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
Due: check-lollygag, settings-doc-check

feat(tasks): SQL-only status updates for condor executor
  diracx-tasks/src/diracx/tasks/jobs/condor_job_executor.py
  diracx-tasks/tests/test_condor_job_executor.py
Due: check-lollygag

docs(tasks): add missing submit command
  docs/dev/explanations/tasks/index.md
Due: none

feat(tasks): implement HTCondor job executor workflow
  diracx-tasks/src/diracx/tasks/jobs/condor_job_executor.py
  diracx-tasks/tests/test_condor_job_executor.py
Due: check-lollygag

build(pixi): add htcondor run-local dependency
  pixi.lock
  pixi.toml
Due: generate-pixi-docs

feat(local): add debugpy support for local task worker
  pixi.lock
  pixi.toml
  run_local.sh
Due: generate-pixi-docs

fix: complete the error handling for job metadata which cannot be stored
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_upsert.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/tests/jobs/test_status.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-routers/tests/jobs/test_heartbeat_commands.py
  diracx-routers/tests/jobs/test_status.py
  docs/dev/reference/coding-conventions.md
Due: check-lollygag

feat(tasks): add dummy job executor
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/how-to/tasks/run-task-manually.md
Due: check-lollygag

fix(tasks): expose dummy executor settings
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
Due: check-lollygag, settings-doc-check

fix(tasks): address dummy executor review feedback
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/how-to/tasks/run-task-manually.md
  run_local.sh
Due: check-lollygag

feat(tasks): fully implement the dummy job executor
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/how-to/tasks/run-task-manually.md
Due: check-lollygag

feat(tasks): add dummy job executor (#995)
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  docs/admin/how-to/tasks/run-task-manually.md
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
  run_local.sh
Due: check-lollygag, settings-doc-check

feat: support global OS prefix
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_index_template.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-testing/src/diracx/testing/dummy_osdb.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  diracx-testing/src/diracx/testing/osdb.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

fix(dev): wait for /api/health/ready in local-start
  run_local.sh
Due: none

Use curl and not wget
  run_local.sh
Due: none

fix(dev): wait for /api/health/ready before reporting local-start ready (#1020)
  run_local.sh
Due: none

fix: avoid 500 errors when job parameters cannot be stored (#1007)
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_upsert.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/tests/jobs/test_status.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-routers/tests/jobs/test_heartbeat_commands.py
  diracx-routers/tests/jobs/test_status.py
  diracx-routers/tests/pilots/test_management.py
  docs/dev/reference/coding-conventions.md
Due: check-lollygag

fix(tasks): spool condor submissions
  diracx-tasks/src/diracx/tasks/jobs/condor_job_executor.py
Due: check-lollygag
