Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

docs: enforce google docs style - db/sql/sandbox_metadata
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
Due: check-lollygag

docs: enforce google docs style - 1
  pyproject.toml
Due: none

docs: enforce google docs style - /db/sql/pilot_agents
  diracx-db/src/diracx/db/sql/pilot_agents/db.py
  diracx-db/src/diracx/db/sql/pilot_agents/schema.py
Due: check-lollygag

docs: enforce google docs style - logic/auth
  diracx-logic/src/diracx/logic/auth/authorize_code_flow.py
  diracx-logic/src/diracx/logic/auth/device_flow.py
  diracx-logic/src/diracx/logic/auth/management.py
  diracx-logic/src/diracx/logic/auth/token.py
Due: check-lollygag

docs: enforce google docs style - routers/jobs
  diracx-routers/src/diracx/routers/jobs/access_policies.py
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/src/diracx/routers/jobs/sandboxes.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-routers/src/diracx/routers/jobs/submission.py
Due: check-lollygag

docs: enforce google docs style - access_policies.py
  diracx-routers/src/diracx/routers/jobs/access_policies.py
Due: check-lollygag

docs: enforce google docs style - core
  diracx-core/src/diracx/core/config/schema.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/models/auth.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/replica_map.py
  diracx-core/src/diracx/core/models/rss.py
  diracx-core/src/diracx/core/models/sandbox.py
  diracx-core/src/diracx/core/models/search.py
  diracx-core/src/diracx/core/models/types.py
  diracx-core/src/diracx/core/preferences.py
  diracx-core/src/diracx/core/properties.py
  diracx-core/src/diracx/core/resources.py
  diracx-core/src/diracx/core/s3.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/src/diracx/core/utils.py
Due: check-lollygag, settings-doc-check

docs: enforce google docs style - cli
  diracx-cli/src/diracx/cli/auth.py
  diracx-cli/src/diracx/cli/config.py
  diracx-cli/src/diracx/cli/jobs.py
  diracx-cli/src/diracx/cli/utils.py
Due: check-lollygag

docs: enforce google docs style - logic/rss/query
  diracx-logic/src/diracx/logic/rss/query.py
Due: check-lollygag

docs: enforce google docs style
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/src/diracx/routers/jobs/sandboxes.py
  pixi.lock
  pyproject.toml
Due: check-lollygag, generate-pixi-docs

docs: enforce google docs style - os/utils
  diracx-db/src/diracx/db/os/utils.py
Due: check-lollygag

docs: enforce google docs style - logic/task_queues/priority.py
  diracx-logic/src/diracx/logic/task_queues/priority.py
Due: check-lollygag

docs: enforce google docs style - routers/auth
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/management.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/auth/well_known.py
Due: check-lollygag

docs: enforce google docs style - db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/auth/db.py
Due: check-lollygag

docs: enforce google docs style - db/sql/utils
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/functions.py
  diracx-db/src/diracx/db/sql/utils/types.py
Due: check-lollygag

docs: enforce google docs style - os/job_parameters
  diracx-db/src/diracx/db/os/job_parameters.py
Due: check-lollygag

docs: enforce google docs style - db/exceptions.py (fix module doc)
  diracx-db/src/diracx/db/exceptions.py
Due: check-lollygag

docs: enforce google docs style - db/sql/rss
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
Due: check-lollygag

docs: enforce google docs style - db/sql/job
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
Due: check-lollygag

docs: enforce google docs style - db/sql/job_logging
  diracx-db/src/diracx/db/sql/job_logging/db.py
  diracx-db/src/diracx/db/sql/job_logging/schema.py
Due: check-lollygag

chore(main): release 0.3.0
  CHANGELOG.md
Due: none

chore(main): release 0.3.0 (#951)
  CHANGELOG.md
Due: none

feat: support global OS prefix
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  docs/admin/reference/env-variables.md
  toto
Due: check-lollygag, settings-doc-check

chore: add a badge for diracx-cert update
  README.md
Due: none

feat: add pre-run-hook in entrypoint
  containers/entrypoint.sh
Due: none

chore: add a badge for diracx-cert update (#976)
  README.md
Due: none

feat: add rss read adapter for DIRAC legacy
  pixi.lock
  pixi.toml
  rss-read-adapter/README.md
  rss-read-adapter/pyproject.toml
  rss-read-adapter/src/rss_read_adapter/__init__.py
  rss-read-adapter/src/rss_read_adapter/response_translation.py
  rss-read-adapter/src/rss_read_adapter/statuses.py
  rss-read-adapter/tests/rss-read-adapter/test_response_translation.py
  rss-read-adapter/tests/rss-read-adapter/test_statuses.py
Due: generate-pixi-docs

fix: fix expected legacy output
  rss-read-adapter/src/rss_read_adapter/response_translation.py
  rss-read-adapter/tests/rss-read-adapter/test_response_translation.py
  rss-read-adapter/tests/rss-read-adapter/test_statuses.py
Due: none

chore: run pre-commit
  docs/dev/reference/pixi-tasks.md
  rss-read-adapter/README.md
  rss-read-adapter/pyproject.toml
  rss-read-adapter/src/rss_read_adapter/statuses.py
  rss-read-adapter/tests/test_response_translation.py
  rss-read-adapter/tests/test_statuses.py
Due: none

chore: add unit tests to the CI
  rss-read-adapter/.github/workflows/main.yml
Due: none

from minio to seaweedfs
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/tests/test_s3.py
  diracx-testing/src/diracx/testing/scripts/collect_demo_coverage.sh
Due: check-lollygag

chore: finish minio cleanup
  .github/scripts/collect-k8s-debug-info.sh
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/tests/test_s3.py
  diracx-testing/src/diracx/testing/scripts/collect_demo_coverage.sh
Due: check-lollygag

fix: update entrypoint.sh to take into account the pre-hook
  containers/entrypoint.sh
Due: none

chore: finish minio cleanup (#981)
  .github/scripts/collect-k8s-debug-info.sh
  containers/entrypoint.sh
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/tests/test_s3.py
  diracx-testing/src/diracx/testing/scripts/collect_demo_coverage.sh
Due: check-lollygag

docs: update diracx-in-a-container-docs
  docs/admin/how-to/install-without-kubernetes/installing-in-a-container.md
  docs/admin/how-to/install-without-kubernetes/prepare-container-node.md
Due: none

chore: corrected spelling
  .pre-commit-config.yaml
  diracx-core/tests/test_config_source.py
  diracx-routers/tests/jobs/test_sandboxes.py
  diracx-tasks/tests/test_worker_integration.py
  diracx-testing/src/diracx/testing/utils.py
  extensions/gubbins/gubbins-core/tests/test_config.py
  extensions/gubbins/gubbins-routers/tests/test_wellknown.py
  pyproject.toml
Due: check-lollygag

chore: from fastapi.status to HTTPStatus
  diracx-routers/src/diracx/routers/pilots/access_policies.py
  diracx-routers/src/diracx/routers/pilots/management.py
Due: check-lollygag

fix: added query validation
  diracx-routers/src/diracx/routers/pilots/query.py
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/tests/pilots/test_query.py
  diracx-db/tests/pilots/utils.py
  diracx-logic/src/diracx/logic/pilots/query.py
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
