Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

default_language_version:
  python: python3

ci:
  skip: [generate-pixi-docs, settings-doc-check]

default_stages: [pre-commit]

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - sqlalchemy
          - types-PyYAML
          - types-cachetools
          - types-requests
          - types-python-dateutil
          - types-aiobotocore[essential]
          - boto3-stubs[essential]
        exclude: ^(diracx-client/src/diracx/client/_generated|diracx-[a-z]+/tests/|diracx-testing/|build|extensions/gubbins/gubbins-client/src/gubbins/client/_generated)

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--number"]
        exclude: ^CHANGELOG\.md$
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-gfm

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-w"]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==22.12.0

  - repo: local
    hooks:
      - id: check-lollygag
        name: check for lollygag
        types: [python]
        entry: "(?i)lollygag"
        language: pygrep
        files: ^diracx

  - repo: local
    hooks:
      - id: generate-pixi-docs
        name: Generate pixi tasks documentation
        entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
        language: system
        pass_filenames: false
        files: ^pixi\.toml$|^pixi\.lock$ # only run if pixi files change

  - repo: local
    hooks:
      - id: settings-doc-check
        name: Generate settings documentation
        entry: pixi run -e default python scripts/generate_settings_docs.py
        language: system
        pass_filenames: false
        files: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$

build(pixi): add htcondor python bindings for osx-arm64
  pixi.lock
  pixi.toml
Due: generate-pixi-docs

feat(tasks): add more condor attributes
  diracx-tasks/src/diracx/tasks/jobs/condor_job_executor.py
Due: check-lollygag

docs(tasks): migrate guidance to diracx-tasks with alias note
  docs/admin/explanations/tasks.md
  docs/admin/how-to/tasks/configure.md
  docs/admin/how-to/tasks/run-task-manually.md
  docs/dev/explanations/tasks/class-details.md
  docs/dev/explanations/tasks/index.md
  docs/dev/how-to/add-a-task.md
  docs/dev/reference/pixi-tasks.md
  docs/dev/reference/tasks.md
  pixi.toml
Due: generate-pixi-docs

Apply suggestion from @aldbr
  docs/dev/explanations/tasks/index.md
Due: none

docs(tasks): add missing submit command
  docs/dev/explanations/tasks/index.md
Due: none

Update docs/dev/explanations/tasks/index.md
  docs/dev/explanations/tasks/index.md
Due: none

feat(tasks): add diracx-tasks command alias and switch local launchers
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/task_run.py
  run_local.sh
  run_local_tasks.sh
Due: check-lollygag

refactor(tasks): support both diracx-tasks and diracx-task-run (phase 1, #975) (#1011)
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/task_run.py
  docs/admin/explanations/tasks.md
  docs/admin/how-to/tasks/configure.md
  docs/admin/how-to/tasks/run-task-manually.md
  docs/dev/explanations/tasks/class-details.md
  docs/dev/explanations/tasks/index.md
  docs/dev/how-to/add-a-task.md
  docs/dev/reference/pixi-tasks.md
  docs/dev/reference/tasks.md
  pixi.toml
  run_local.sh
  run_local_tasks.sh
Due: check-lollygag, generate-pixi-docs

fix(imports): sort import errors
  diracx-logic/src/diracx/logic/jobs/status.py
Due: check-lollygag

refactor: move common mock_client to diracx-testing and use it as needed
  diracx-db/tests/utils/test_utils.py
  diracx-logic/tests/jobs/test_status.py
  diracx-testing/src/diracx/testing/mock_osdb.py
Due: check-lollygag

refactor: put back mock_client into appropriate tests
  diracx-db/tests/utils/test_utils.py
  diracx-logic/tests/jobs/test_status.py
  diracx-testing/src/diracx/testing/mock_osdb.py
Due: check-lollygag

refactor(tasks): remove diracx-task-run alias
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/task_run.py
  docs/admin/how-to/tasks/configure.md
  docs/admin/how-to/tasks/run-task-manually.md
  docs/dev/explanations/tasks/index.md
Due: check-lollygag

refactor: move mock_client into testing module; add bulk_upsert implementation for MockOSDBMixin class
  diracx-testing/src/diracx/testing/mock_osdb.py
Due: check-lollygag

refactor: use mock_client via common mock_osdb module and conftest.py declarations
  diracx-db/tests/conftest.py
  diracx-db/tests/utils/test_utils.py
  diracx-logic/tests/conftest.py
  diracx-logic/tests/jobs/test_status.py
Due: check-lollygag

feat(tasks): scaffold condor job executor
  diracx-tasks/src/diracx/tasks/jobs/condor_job_executor.py
  diracx-tasks/tests/test_condor_job_executor.py
Due: check-lollygag

docs: move programmatic-usage under how-to/, add How-To landing page
  docs/admin/index.md
  docs/dev/explanations/extensions.md
  docs/dev/index.md
  docs/user/how-to/index.md
  docs/user/how-to/programmatic-usage/command-line-interface.md
  docs/user/how-to/programmatic-usage/https-interface.md
  docs/user/how-to/programmatic-usage/index.md
  docs/user/how-to/programmatic-usage/python-interface.md
  docs/user/index.md
  mkdocs.yml
Due: none

feat: support global OS prefix
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/settings.py
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_index_template.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-testing/src/diracx/testing/dummy_osdb.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  diracx-testing/src/diracx/testing/osdb.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

docs: replace remaining diracx.io references with diracx.diracgrid.org
  docs/admin/how-to/install-without-kubernetes/installing-in-a-container.md
  docs/dev/explanations/documentation-system.md
Due: none

docs(rtd): fix broken 404-page asset paths under versioned hosting
  mkdocs.yml
Due: none

chore(cli): rename LegacyClientEnabled to FutureClientEnabled
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-cli/tests/legacy/cs_sync/integration_test_buggy.cfg
  docs/admin/how-to/install/embracing.md
Due: check-lollygag

docs: move programmatic-usage under how-to/, add How-To landing page (#1027)
  docs/admin/index.md
  docs/dev/explanations/extensions.md
  docs/dev/index.md
  docs/user/how-to/index.md
  docs/user/how-to/programmatic-usage/command-line-interface.md
  docs/user/how-to/programmatic-usage/https-interface.md
  docs/user/how-to/programmatic-usage/index.md
  docs/user/how-to/programmatic-usage/python-interface.md
  docs/user/index.md
  mkdocs.yml
Due: none

chore(main): release 0.4.0
  CHANGELOG.md
Due: none

chore(main): release 0.4.0 (#994)
  CHANGELOG.md
Due: none

fix(cli): rename LegacyClientEnabled to FutureClientEnabled (#1029)
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-cli/tests/legacy/cs_sync/integration_test_buggy.cfg
  docs/admin/how-to/install/embracing.md
Due: check-lollygag

chore(main): release 0.4.1
  CHANGELOG.md
Due: none

docs: move D100-D300 to per-file-ignores, forbid rest-docstrings in pre-commit
  .pre-commit-config.yaml
  diracx-routers/tests/health/test_probes.py
  pyproject.toml
Due: check-lollygag

docs: add gubbins client to forbid rest-docstrings in pre-commit
  .pre-commit-config.yaml
Due: none

docs: Add google style docstring to diracx-cli
  diracx-cli/src/diracx/cli/__main__.py
  diracx-cli/src/diracx/cli/auth.py
  diracx-cli/src/diracx/cli/config.py
  diracx-cli/src/diracx/cli/internal/config.py
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-cli/src/diracx/cli/jobs.py
  diracx-cli/src/diracx/cli/utils.py
  pyproject.toml
Due: check-lollygag

fix(db,routers): improve DB URLs error handling
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-routers/src/diracx/routers/factory.py
Due: check-lollygag

docs: Apply suggestions from code review
  diracx-cli/src/diracx/cli/auth.py
  diracx-cli/src/diracx/cli/config.py
  diracx-cli/src/diracx/cli/internal/config.py
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-cli/src/diracx/cli/jobs.py
Due: check-lollygag

docs(rtd): fix broken 404-page asset paths (#1026)
  docs/admin/how-to/install-without-kubernetes/installing-in-a-container.md
  docs/dev/explanations/documentation-system.md
  mkdocs.yml
Due: none

refactor(tasks): remove diracx-task-run alias (#1025)
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/task_run.py
  docs/admin/how-to/tasks/configure.md
  docs/admin/how-to/tasks/run-task-manually.md
  docs/dev/explanations/tasks/index.md
Due: check-lollygag

docs: Address comments - add -> Metadata
  diracx-cli/src/diracx/cli/auth.py
Due: check-lollygag

fix: add bulk_upsert into job_parameters
  diracx-db/src/diracx/db/os/job_parameters.py
Due: check-lollygag

fix: reuse DummyOSDB from diracx.testing
  diracx-db/tests/utils/test_utils.py
Due: check-lollygag

fix: put diracx.testing.mock_osdb into pyproject.toml instead of keeping it in conftest module
  diracx-db/pyproject.toml
  diracx-db/tests/conftest.py
  diracx-logic/pyproject.toml
  diracx-logic/tests/conftest.py
Due: check-lollygag
