Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

ci: improve debugging output of legacy integration tests
  .github/workflows/integration.yml
Due: none

feat: replace container base images with pixi-managed environments (#810)
  .dockerignore
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
  .gitignore
  .pre-commit-config.yaml
  containers/Dockerfile
  containers/client/Dockerfile
  containers/entrypoint.sh
  containers/services/Dockerfile
  diracx-routers/pyproject.toml
  diracx-routers/src/diracx/routers/otel.py
  diracx-testing/src/diracx/testing/entrypoints.py
  docs/dev/explanations/components/index.md
  docs/dev/explanations/extensions.md
  extensions/containers/client/Dockerfile
  extensions/containers/services/Dockerfile
  extensions/gubbins-charts/Chart.yaml
  extensions/gubbins-charts/values.yaml
  extensions/gubbins/.dockerignore
  extensions/gubbins/containers/Dockerfile
  extensions/gubbins/pixi.toml
  pixi.lock
  pixi.toml
Due: check-lollygag, generate-pixi-docs

feat: add RSS data models (SQLAlchemy + Pydantic)
  diracx-core/src/diracx/core/models/rss.py
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/sql/rss/__init__.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
  diracx-db/tests/rss/test_rss_db.py
Due: check-lollygag

fix: remove deprecated tables and add FTS ResourceType
  diracx-core/src/diracx/core/models/rss.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
  diracx-db/tests/rss/test_rss_db.py
Due: check-lollygag

fix: remove source dir mounts from integration tests
  .github/workflows/main.yml
Due: none

fix: remove source dir mounts from integration tests (#864)
  .github/workflows/main.yml
Due: none

chore(main): release 0.1.0
  CHANGELOG.md
Due: none

fixup! feat: replace container base images with pixi-managed environments (#810)
  docs/dev/explanations/components/index.md
  docs/dev/tutorials/advanced-tutorial/design.md
  docs/dev/tutorials/advanced-tutorial/index.md
  docs/dev/tutorials/advanced-tutorial/logic.md
  docs/dev/tutorials/advanced-tutorial/tasks.md
  extensions/gubbins/gubbins-logic/pyproject.toml
  extensions/gubbins/gubbins-logic/src/gubbins/logic/my_pilots.py
  extensions/gubbins/gubbins-tasks/pyproject.toml
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/lollygag.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/my_pilots.py
  extensions/gubbins/gubbins-tasks/tests/test_my_pilot_tasks.py
  mkdocs.yml
Due: none

chore: Update pixi.lock
  pixi.lock
Due: generate-pixi-docs

feat: deploy gubbins images
  .github/workflows/deployment.yml
Due: none

feat: add documentation for diracx container deployment
  docs/admin/how-to/install/installing-in-a-container.md
  docs/admin/how-to/install/minimal-requirements.md
  docs/admin/how-to/install/prepare-container-node.md
  mkdocs.yml
Due: none

docs: add CI automation guide and issue triage reference
  docs/dev/how-to/contribute.md
  docs/dev/reference/issue-triage.md
  mkdocs.yml
Due: none

docs: add CI automation guide and issue triage reference (#779)
  docs/dev/how-to/contribute.md
  docs/dev/reference/issue-triage.md
  mkdocs.yml
Due: none

chore(main): release 0.0.12
  CHANGELOG.md
Due: none

chore(main): release 0.0.12 (#862)
  CHANGELOG.md
Due: none

refactor: convert InsertedJob and TokenPayload from TypedDict to BaseModel
  diracx-core/src/diracx/core/models/auth.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/types.py
  diracx-core/tests/test_utc_datetime.py
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-routers/src/diracx/routers/auth/token.py
  tests/make_token_local.py
Due: check-lollygag

test: add utc datetime validation enforcement to all pydantic models
  diracx-core/tests/test_utc_datetime.py
Due: check-lollygag

feat: add strict UTC datetime validation to pydantic models
  diracx-core/src/diracx/core/models/_types.py
  diracx-core/src/diracx/core/models/auth.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/tests/test_utc_datetime.py
Due: check-lollygag

refactor: rename read_config() to read()
  diracx-cli/src/diracx/cli/internal/config.py
  diracx-cli/tests/test_internal.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/health/test_probes.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

refactor: separate token creation from raw JWT signing
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-routers/tests/auth/test_standard.py
  diracx-routers/tests/jobs/test_sandboxes.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

refactor: rename read_config() to read() (#856)
  diracx-cli/src/diracx/cli/internal/config.py
  diracx-cli/tests/test_internal.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/health/test_probes.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

feat(core): strict UTC datetime validation for pydantic models (#477)
  diracx-core/src/diracx/core/models/auth.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/types.py
  diracx-core/tests/test_utc_datetime.py
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/tests/auth/test_standard.py
  diracx-routers/tests/jobs/test_sandboxes.py
  diracx-testing/src/diracx/testing/utils.py
  tests/make_token_local.py
Due: check-lollygag

docs: document the release process
  docs/admin/how-to/install/register-a-vo.md
  docs/dev/explanations/extensions.md
  docs/dev/how-to/make-a-release.md
  docs/dev/reference/making-releases.md
  mkdocs.yml
Due: none

chore: complete release docs with release-please
  docs/admin/how-to/make-a-release.md
  docs/admin/reference/making-releases.md
  mkdocs.yml
Due: none

docs: update release docs
  docs/dev/reference/making-releases.md
Due: none

ci: skip CI workflows for documentation-only changes
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
Due: none

fix: minor fixes to the release process
  docs/dev/explanations/extensions.md
  docs/dev/how-to/make-a-release.md
Due: none

docs: document the release process (#728)
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
  docs/admin/how-to/install/register-a-vo.md
  docs/admin/how-to/make-a-release.md
  docs/admin/reference/making-releases.md
  docs/dev/explanations/extensions.md
  mkdocs.yml
Due: none

refactor: Simplify definition of dependencies
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  diracx-routers/src/diracx/routers/access_policies.py
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/management.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/auth/well_known.py
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/dependencies.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/fastapi_classes.py
  diracx-routers/src/diracx/routers/health/probes.py
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/src/diracx/routers/jobs/sandboxes.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-routers/src/diracx/routers/jobs/submission.py
  diracx-routers/src/diracx/routers/utils/users.py
  diracx-tasks/src/diracx/tasks/plumbing/depends.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-testing/src/diracx/testing/utils.py
  docs/adr/DX-ADR-001_tasks.md
  docs/dev/explanations/components/routes.md
  docs/dev/explanations/tasks/index.md
  docs/dev/how-to/add-a-task.md
  docs/dev/reference/dependency-injection.md
  docs/dev/tutorials/advanced-tutorial/database.md
  docs/dev/tutorials/advanced-tutorial/logic.md
  docs/dev/tutorials/advanced-tutorial/router.md
  docs/dev/tutorials/advanced-tutorial/tasks.md
  extensions/gubbins/gubbins-routers/src/gubbins/routers/dependencies.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/lollygag/lollygag.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/my_pilots.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/depends.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/lollygag.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/my_pilots.py
Due: check-lollygag

fix(core): preserve GUID case in replica map validation
  diracx-core/src/diracx/core/models/replica_map.py
  diracx-core/tests/test_replica_map.py
Due: check-lollygag

fix(core): preserve GUID case in replica map validation (#880)
  diracx-core/src/diracx/core/models/replica_map.py
  diracx-core/tests/test_replica_map.py
Due: check-lollygag

refactor: Remove abstract execute method from BaseTask
  diracx-tasks/src/diracx/tasks/plumbing/base_task.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
Due: check-lollygag

refactor: Simplify definition of dependencies (#878)
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  diracx-routers/src/diracx/routers/access_policies.py
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/management.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/auth/well_known.py
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/dependencies.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/fastapi_classes.py
  diracx-routers/src/diracx/routers/health/probes.py
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/src/diracx/routers/jobs/sandboxes.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-routers/src/diracx/routers/jobs/submission.py
  diracx-routers/src/diracx/routers/utils/users.py
  diracx-tasks/src/diracx/tasks/plumbing/depends.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-testing/src/diracx/testing/utils.py
  docs/adr/DX-ADR-001_tasks.md
  docs/dev/explanations/components/routes.md
  docs/dev/explanations/tasks/index.md
  docs/dev/how-to/add-a-task.md
  docs/dev/reference/dependency-injection.md
  docs/dev/tutorials/advanced-tutorial/database.md
  docs/dev/tutorials/advanced-tutorial/logic.md
  docs/dev/tutorials/advanced-tutorial/router.md
  docs/dev/tutorials/advanced-tutorial/tasks.md
  extensions/gubbins/gubbins-routers/src/gubbins/routers/dependencies.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/lollygag/lollygag.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/my_pilots.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/depends.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/lollygag.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/my_pilots.py
Due: check-lollygag

refactor: Remove abstract execute method from BaseTask (#879)
  diracx-tasks/src/diracx/tasks/plumbing/base_task.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
Due: check-lollygag

fix: normalize CWL before hashing to prevent duplicate workflow rows
  diracx-logic/src/diracx/logic/jobs/cwl_submission.py
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
