Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

refactor: improve table typing
  diracx-db/src/diracx/db/sql/utils/base.py
Due: check-lollygag

docs: fix typos and DeclarativeBase reference
  docs/dev/explanations/components/db.md
  docs/dev/reference/coding-conventions.md
Due: none

fix: add missing changes to migration
  diracx-db/src/diracx/db/sql/job_logging/db.py
  diracx-db/src/diracx/db/sql/pilot_agents/schema.py
Due: check-lollygag

Refactor: apply SQLAlchemy 2.0 migration for model mappings
  diracx-db/src/diracx/db/sql/auth/schema.py
  diracx-db/src/diracx/db/sql/dummy/schema.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
  diracx-db/src/diracx/db/sql/job_logging/schema.py
  diracx-db/src/diracx/db/sql/pilot_agents/schema.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
  diracx-db/src/diracx/db/sql/task_queue/schema.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-db/src/diracx/db/sql/utils/types.py
  docs/dev/reference/coding-conventions.md
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/schema.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/lollygag/schema.py
Due: check-lollygag

refactor: remove type ignore comments
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/tests/utils/test_uuid.py
Due: check-lollygag

refactor: Change the DeclarativeBase sqlalchemy style (#748)
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/auth/schema.py
  diracx-db/src/diracx/db/sql/dummy/schema.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
  diracx-db/src/diracx/db/sql/job_logging/db.py
  diracx-db/src/diracx/db/sql/job_logging/schema.py
  diracx-db/src/diracx/db/sql/pilot_agents/schema.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
  diracx-db/src/diracx/db/sql/task_queue/schema.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/types.py
  diracx-db/tests/utils/test_uuid.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  docs/dev/explanations/components/db.md
  docs/dev/reference/coding-conventions.md
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/schema.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/lollygag/schema.py
Due: check-lollygag

chore: remove deprecated helpers
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-db/src/diracx/db/sql/utils/types.py
Due: check-lollygag

chore: remove deprecated helpers (#789)
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-db/src/diracx/db/sql/utils/types.py
Due: check-lollygag

Add renovate.json for Autorest versioning at client generation
  renovate.json
Due: none

fix: Fix AUTOREST_PUGINS typo
  diracx-testing/src/diracx/testing/client_generation.py
  renovate.json
Due: check-lollygag

chore(renovate): Group autorest package updates
  renovate.json
Due: none

chore: renovate version maintenance for autorest client generation (#699)
  diracx-testing/src/diracx/testing/client_generation.py
  renovate.json
Due: check-lollygag

chore: remove lines from models init and bump diraccommon version
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/models/__init__.py
  diracx-logic/pyproject.toml
Due: check-lollygag

chore: remove lines from models init and bump diraccommon version (#791)
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/models/__init__.py
  diracx-logic/pyproject.toml
Due: check-lollygag

docs: replace a template site_description text. Fixes #755
  mkdocs.yml
Due: none

docs: replace a template site_description text. Fixes #755 (#793)
  mkdocs.yml
Due: none

chore: regenerate clients
  .gitignore
  diracx-client/src/diracx/client/_generated/__init__.py
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/_configuration.py
  diracx-client/src/diracx/client/_generated/_utils/__init__.py
  diracx-client/src/diracx/client/_generated/_utils/serialization.py
  diracx-client/src/diracx/client/_generated/_utils/utils.py
  diracx-client/src/diracx/client/_generated/aio/__init__.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/_configuration.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_enums.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/utils.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_enums.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

chore(main): release 0.0.9
  CHANGELOG.md
Due: none

chore(main): release 0.0.9 (#771)
  CHANGELOG.md
Due: none

fix: added examples for table extensions and fields mods
  docs/dev/explanations/extensions.md
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/schema.py
Due: none

fix: support git worktrees in client generation
  diracx-testing/src/diracx/testing/client_generation.py
Due: check-lollygag

chore: Regenerate clients
  diracx-client/src/diracx/client/_generated/__init__.py
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/_configuration.py
  diracx-client/src/diracx/client/_generated/_utils/__init__.py
  diracx-client/src/diracx/client/_generated/_utils/serialization.py
  diracx-client/src/diracx/client/_generated/_utils/utils.py
  diracx-client/src/diracx/client/_generated/aio/__init__.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/_configuration.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_enums.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/utils.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_enums.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

fix: remove row locking from sandbox cleanup to avoid lock memory bloat
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: use cursor-based pagination for sandbox deletion queries
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: separate row selection from locking to avoid mass locking
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
Due: check-lollygag

fix: optimize sandbox cleaning query performance
  diracx-core/src/diracx/core/s3.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: split workers across both deletion query types
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: simplify to single worker with parallel S3 deletions
  diracx-core/src/diracx/core/s3.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  diracx-logic/tests/jobs/test_sandboxes.py
Due: check-lollygag

fix: make S3 connection pool size configurable
  diracx-core/src/diracx/core/settings.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

refactor: add per-phase timing to sandbox cleanup logging
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: stop iterating when batch returns fewer than batch_size candidates
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: increase S3 connection pool to 50 for parallel bulk deletes
  diracx-core/src/diracx/core/settings.py
Due: check-lollygag, settings-doc-check

fix: chunk DB deletes into 1000-row batches with concurrent execution
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: handle S3 partial delete failures and pass se_name directly
  diracx-core/src/diracx/core/s3.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: remove idx_assigned_lastaccesstime index from schema
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
Due: check-lollygag

docs: update diracx-web documentation
  docs/dev/explanations/extensions.md
  docs/dev/explanations/repo-structure.md
  docs/dev/how-to/contribute.md
  docs/dev/how-to/write-docs.md
  docs/dev/reference/index.md
  docs/dev/tutorials/develop-web.md
  docs/dev/tutorials/index.md
  mkdocs.yml
Due: none

docs: update diracx-web documentation (#803)
  docs/dev/explanations/extensions.md
  docs/dev/explanations/repo-structure.md
  docs/dev/how-to/contribute.md
  docs/dev/how-to/write-docs.md
  docs/dev/reference/index.md
  docs/dev/tutorials/develop-web.md
  docs/dev/tutorials/index.md
  mkdocs.yml
Due: none

refactor: changed EdDSA to Ed25519 algorithm in tokens
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_secrets.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-routers/tests/auth/test_standard.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag, settings-doc-check

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
