Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

chore: Use ast for __all__ checks
  .github/workflows/check_init_files_precommit_hook.py
  .pre-commit-config.yaml
Due: none

feat: Check existance of __all__ in __init__ files during pre-commit
  .github/workflows/check_init_files_precommit_hook.sh
  .pre-commit-config.yaml
Due: none

chore: empty __all__ from diracx/client/__init__.py
  diracx-client/src/diracx/client/__init__.py
Due: check-lollygag

fix: remove diracx-testing import changes
  conftest.py
  diracx-testing/src/diracx/testing/__init__.py
Due: check-lollygag

chore: set shebang for moved python scripts
  scripts/check_init_files_precommit_hook.py
  scripts/generate_pixi_tasks_doc.py
Due: none

chore: Check gubbins extension during the check-init-files precommit hook
  .pre-commit-config.yaml
Due: none

chore: Add the rest of the properties to the public API
  diracx-core/src/diracx/core/properties.py
Due: check-lollygag

fix(routers): change wrong import in entrypoints
  diracx-routers/pyproject.toml
Due: none

chore: move pre-commit scripts from .github/workflows to scripts
  .pre-commit-config.yaml
  scripts/check_init_files_precommit_hook.py
  scripts/generate_pixi_tasks_doc.py
Due: none

chore: Add 'open_access' to access_policies __all__
  diracx-routers/src/diracx/routers/access_policies.py
Due: check-lollygag

chore: Remove pydatic Field being imported from diracx
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/config/__init__.py
Due: check-lollygag

chore: Remove BaseModel from the public API
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/tests/test_schema_legacy_adaptor.py
Due: check-lollygag

chore: remove unused routers/jobs/legacy.py file
  diracx-routers/src/diracx/routers/jobs/legacy.py
Due: check-lollygag

chore: change charts to fork (temporary)
  .github/workflows/main.yml
Due: none

chore: update newly added __init__.py files
  diracx-cli/tests/legacy/__init__.py
  diracx-cli/tests/legacy/cs_sync/__init__.py
  diracx-db/src/diracx/db/sql/rss/__init__.py
  diracx-db/tests/auth/__init__.py
  diracx-db/tests/jobs/__init__.py
  diracx-db/tests/opensearch/__init__.py
  diracx-db/tests/pilot_agents/__init__.py
  diracx-db/tests/rss/__init__.py
  diracx-db/tests/utils/__init__.py
  diracx-logic/src/diracx/logic/rss/__init__.py
  diracx-logic/tests/jobs/__init__.py
  diracx-logic/tests/rss/__init__.py
  diracx-routers/tests/auth/__init__.py
  diracx-routers/tests/health/__init__.py
  diracx-routers/tests/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/plumbing/__init__.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/my_pilot_db/__init__.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/__init__.py
Due: check-lollygag

chore: Change check-init-files hook from sh to python
  .github/workflows/check_init_files_precommit_hook.py
  .github/workflows/check_init_files_precommit_hook.sh
  .pre-commit-config.yaml
Due: none

chore: remove check-init-files hook from ci
  .pre-commit-config.yaml
Due: none

fix: Fix hook, it always failed and executed multiple times
  .github/workflows/check_init_files_precommit_hook.sh
  .pre-commit-config.yaml
Due: none

chore(docs): Update codeconv to showcase __all__ treatment
  docs/dev/reference/coding-conventions.md
Due: none

chore: update pixi.lock
  pixi.lock
Due: generate-pixi-docs

chore: change DIRAC to fork (temporary)
  .github/workflows/integration.yml
Due: none

refactor: remove has_properties function and update documentation
  diracx-routers/src/diracx/routers/auth/__init__.py
  diracx-routers/src/diracx/routers/auth/utils.py
  docs/dev/reference/dependency-injection.md
Due: check-lollygag

fix: handle device flow errors (#906)
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-routers/src/diracx/routers/auth/__init__.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/utils.py
  diracx-routers/tests/auth/test_standard.py
  docs/dev/reference/dependency-injection.md
Due: check-lollygag

fix: adjust rss logic and db to our needs
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/query.py
Due: check-lollygag

feat(draft): add ResourceStatusSource and rss router
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/models/rss.py
  diracx-core/tests/test_status_source.py
  diracx-routers/pyproject.toml
  diracx-routers/src/diracx/routers/rss.py
  diracx-routers/tests/test_rss.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

chore: renew Redis stream message ownership during worker execution
  diracx-tasks/src/diracx/tasks/plumbing/broker/models.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/redis_streams.py
  diracx-tasks/src/diracx/tasks/plumbing/worker/worker.py
  diracx-tasks/tests/test_redis_streams.py
  diracx-tasks/tests/test_worker_integration.py
  docs/dev/explanations/tasks/class-details.md
  docs/dev/explanations/tasks/index.md
  docs/dev/reference/tasks.md
Due: check-lollygag

test: run_local.sh has parallel workers
  run_local.sh
Due: none

chore: implement task heartbeat (#909)
  diracx-tasks/src/diracx/tasks/plumbing/broker/models.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/redis_streams.py
  diracx-tasks/src/diracx/tasks/plumbing/worker/worker.py
  diracx-tasks/tests/test_redis_streams.py
  diracx-tasks/tests/test_worker_integration.py
  docs/dev/explanations/tasks/class-details.md
  docs/dev/explanations/tasks/index.md
  docs/dev/reference/tasks.md
  run_local.sh
Due: check-lollygag

feat: correct logging message
  diracx-tasks/src/diracx/tasks/plumbing/broker/redis_streams.py
Due: check-lollygag

feat: correct logging message (#911)
  diracx-tasks/src/diracx/tasks/plumbing/broker/redis_streams.py
Due: check-lollygag

chore(main): release 0.1.0
  CHANGELOG.md
Due: none

chore(main): release 0.1.0 (#903)
  CHANGELOG.md
Due: none

fix: setup pixi in the deployment ci
  .github/workflows/deployment.yml
Due: none

feat: add CWL workflow submission endpoint and storage model
  diracx-api/src/diracx/api/cwl_utility.py
  diracx-api/src/diracx/api/job_report.py
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/src/diracx/api/jobs.py
  diracx-api/src/diracx/api/utils.py
  diracx-cli/src/diracx/cli/auth.py
  diracx-cli/src/diracx/cli/internal/job_wrapper.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/src/diracx/core/models/commands/__init__.py
  diracx-core/src/diracx/core/models/commands/core.py
  diracx-core/src/diracx/core/models/commands/store_output_data.py
  diracx-core/src/diracx/core/models/cwl.py
  diracx-core/src/diracx/core/models/cwl_submission.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
  diracx-db/tests/jobs/test_workflow_db.py
  diracx-logic/pyproject.toml
  diracx-logic/src/diracx/logic/jobs/cwl_submission.py
  diracx-logic/tests/test_cwl_submission.py
  diracx-routers/src/diracx/routers/jobs/submission.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

feat: add CWL executor with replica map and sandbox integration
  diracx-api/pyproject.toml
  diracx-api/src/diracx/api/cwl_utility.py
  diracx-api/src/diracx/api/executor/__init__.py
  diracx-api/src/diracx/api/executor/__main__.py
  diracx-api/src/diracx/api/executor/_mypyc_compat.py
  diracx-api/src/diracx/api/executor/executor.py
  diracx-api/src/diracx/api/executor/fs_access.py
  diracx-api/src/diracx/api/executor/pathmapper.py
  diracx-api/src/diracx/api/executor/tool.py
  diracx-api/src/diracx/api/job_report.py
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/tests/test_executor.py
  diracx-api/tests/test_executor_integration.py
  diracx-api/tests/test_fs_access.py
  diracx-api/tests/test_job_wrapper.py
  diracx-api/tests/test_job_wrapper_integration.py
  diracx-api/tests/test_job_wrapper_sandbox.py
  diracx-api/tests/test_no_cwltool_import.py
  diracx-cli/pyproject.toml
  diracx-core/src/diracx/core/models/cwl.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/replica_map.py
  diracx-core/tests/test_replica_map.py
  diracx-logic/tests/test_cwl_submission.py
Due: check-lollygag

feat: wire up parametric jobs and fix worker-side issues
  diracx-cli/src/diracx/cli/_submission/pipeline.py
  diracx-cli/src/diracx/cli/internal/job_wrapper.py
  diracx-core/src/diracx/core/config/schema.py
  diracx-logic/src/diracx/logic/jobs/cwl_submission.py
Due: check-lollygag

feat: stream ApplicationStatus from cwltool stderr
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/tests/test_job_wrapper_integration.py
  diracx-cli/src/diracx/cli/_submission/simple.py
  diracx-cli/tests/test_submit_simple.py
Due: check-lollygag

docs(job_wrapper): added TODOs for prmon compress output
  diracx-api/src/diracx/api/job_wrapper.py
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
