Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

default_language_version:
  python: python3

ci:
  skip: [generate-pixi-docs, settings-doc-check]

default_stages: [pre-commit]

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - sqlalchemy
          - types-PyYAML
          - types-cachetools
          - types-requests
          - types-python-dateutil
          - types-aiobotocore[essential]
          - boto3-stubs[essential]
        exclude: ^(diracx-client/src/diracx/client/_generated|diracx-[a-z]+/tests/|diracx-testing/|build|extensions/gubbins/gubbins-client/src/gubbins/client/_generated)

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--number"]
        exclude: ^CHANGELOG\.md$
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-gfm

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-w"]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==22.12.0

  - repo: local
    hooks:
      - id: check-lollygag
        name: check for lollygag
        types: [python]
        entry: "(?i)lollygag"
        language: pygrep
        files: ^diracx

  - repo: local
    hooks:
      - id: generate-pixi-docs
        name: Generate pixi tasks documentation
        entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
        language: system
        pass_filenames: false
        files: ^pixi\.toml$|^pixi\.lock$ # only run if pixi files change

  - repo: local
    hooks:
      - id: settings-doc-check
        name: Generate settings documentation
        entry: pixi run -e default python scripts/generate_settings_docs.py
        language: system
        pass_filenames: false
        files: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$

chore: set shebang for moved python scripts
  scripts/check_init_files_precommit_hook.py
  scripts/generate_pixi_tasks_doc.py
Due: none

chore: Check gubbins extension during the check-init-files precommit hook
  .pre-commit-config.yaml
Due: none

chore: add RUF022 rule to pyproject.toml
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/models/__init__.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/src/diracx/core/utils.py
  diracx-db/src/diracx/db/__init__.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-logic/src/diracx/logic/auth/__init__.py
  diracx-logic/src/diracx/logic/jobs/__init__.py
  diracx-routers/src/diracx/routers/auth/__init__.py
  diracx-routers/src/diracx/routers/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/__init__.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/models.py
  diracx-tasks/src/diracx/tasks/plumbing/callbacks.py
  diracx-tasks/src/diracx/tasks/plumbing/config.py
  diracx-tasks/src/diracx/tasks/plumbing/depends.py
  diracx-tasks/src/diracx/tasks/plumbing/exceptions.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-tasks/src/diracx/tasks/plumbing/locks.py
  diracx-tasks/src/diracx/tasks/plumbing/retry_policies.py
  diracx-tasks/src/diracx/tasks/plumbing/schedules.py
  diracx-testing/src/diracx/testing/__init__.py
  diracx-testing/src/diracx/testing/osdb.py
  diracx-testing/src/diracx/testing/time.py
  pyproject.toml
Due: check-lollygag, settings-doc-check

chore: Remove BaseModel from the public API
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/tests/test_schema_legacy_adaptor.py
Due: check-lollygag

chore(docs): Update codeconv to showcase __all__ treatment
  docs/dev/reference/coding-conventions.md
Due: none

fix: remove diracx-testing import changes
  conftest.py
  diracx-testing/src/diracx/testing/__init__.py
Due: check-lollygag

chore: update newly added __init__.py files
  diracx-cli/tests/legacy/__init__.py
  diracx-cli/tests/legacy/cs_sync/__init__.py
  diracx-db/src/diracx/db/sql/rss/__init__.py
  diracx-db/tests/auth/__init__.py
  diracx-db/tests/jobs/__init__.py
  diracx-db/tests/opensearch/__init__.py
  diracx-db/tests/pilot_agents/__init__.py
  diracx-db/tests/rss/__init__.py
  diracx-db/tests/utils/__init__.py
  diracx-logic/src/diracx/logic/rss/__init__.py
  diracx-logic/tests/jobs/__init__.py
  diracx-logic/tests/rss/__init__.py
  diracx-routers/tests/auth/__init__.py
  diracx-routers/tests/health/__init__.py
  diracx-routers/tests/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/plumbing/__init__.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/my_pilot_db/__init__.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/__init__.py
Due: check-lollygag

feat: run pre-commit with pixi
  .github/workflows/main.yml
Due: none

chore: add root level files to check-init-files pre-commit hook
  .pre-commit-config.yaml
  diracx-db/src/diracx/db/exceptions.py
  diracx-tasks/src/diracx/tasks/depends.py
  diracx-tasks/src/diracx/tasks/task_run.py
  extensions/gubbins/gubbins-logic/src/gubbins/logic/my_pilots.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/my_pilots.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/depends.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/lock_types.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/lollygag.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/my_pilot_lock_types.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/my_pilots.py
  scripts/check_init_files_precommit_hook.py
Due: check-lollygag

chore: Change check-init-files hook from sh to python
  .github/workflows/check_init_files_precommit_hook.py
  .github/workflows/check_init_files_precommit_hook.sh
  .pre-commit-config.yaml
Due: none

fix(routers): change wrong import in entrypoints
  diracx-routers/pyproject.toml
Due: none

fix: rename the pth file to make sure it is parsed after editable install pth
  diracx-client/pyproject.toml
  diracx-client/src/diracx/_client_importer.py
Due: check-lollygag

fix: rename the pth file to make sure it is parsed after editable install pth (#921)
  diracx-client/pyproject.toml
  diracx-client/src/diracx/_client_importer.py
Due: check-lollygag

chore: add gubbins/tasks to gubbins-charts
  extensions/gubbins-charts/values.yaml
Due: none

chore: add gubbins/tasks to gubbins-charts (#924)
  extensions/gubbins-charts/values.yaml
Due: none

feat: clean up AuthDB refresh tokens by dropping partitions
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/tests/auth/test_partitions.py
  diracx-db/tests/auth/test_refresh_token.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-logic/src/diracx/logic/auth/management.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

chore: added ruff banned-api rule
  pyproject.toml
Due: none

chore: removed fastapi.status for HTTP.Status
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/management.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/jobs/access_policies.py
  diracx-routers/src/diracx/routers/utils/users.py
  diracx-routers/tests/jobs/test_wms_access_policy.py
  diracx-routers/tests/test_config_manager.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/lollygag/access_policy.py
  extensions/gubbins/gubbins-routers/tests/test_wellknown.py
Due: check-lollygag

fix: fixed fastapi.RedirectReponse import
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
Due: check-lollygag

fix: added ruff rule for gubbins and fixed rule message
  extensions/gubbins/pyproject.toml
  pyproject.toml
Due: none

chore: remove fastapi status and add ruff rule (#923)
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/management.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/jobs/access_policies.py
  diracx-routers/src/diracx/routers/utils/users.py
  diracx-routers/tests/jobs/test_wms_access_policy.py
  diracx-routers/tests/test_config_manager.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/lollygag/access_policy.py
  extensions/gubbins/gubbins-routers/tests/test_wellknown.py
  extensions/gubbins/pyproject.toml
  pyproject.toml
Due: check-lollygag

refactor: migrate config schema to snake_case with alias
  diracx-cli/src/diracx/cli/internal/config.py
  diracx-cli/tests/test_internal.py
  diracx-core/src/diracx/core/config/schema.py
  diracx-core/src/diracx/core/resources.py
  diracx-core/tests/test_schema_legacy_adaptor.py
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-logic/src/diracx/logic/auth/well_known.py
  diracx-logic/src/diracx/logic/jobs/query.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/src/diracx/logic/jobs/utils.py
  diracx-logic/src/diracx/logic/task_queues/priority.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-tasks/src/diracx/tasks/plumbing/scheduler/scheduler.py
  diracx-tasks/tests/test_scheduler_integration.py
  diracx-testing/src/diracx/testing/utils.py
  extensions/gubbins/gubbins-core/src/gubbins/core/config/schema.py
  extensions/gubbins/gubbins-logic/src/gubbins/logic/auth/well_known.py
Due: check-lollygag

refactor: migrate job models to snake_case with alias
  diracx-core/src/diracx/core/models/job.py
  diracx-db/tests/jobs/test_job_logging_db.py
  diracx-logic/src/diracx/logic/jobs/status.py
Due: check-lollygag

refactor: migrate legacy cli to snake_case with alias
  diracx-cli/src/diracx/cli/internal/legacy.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

feat: batch-delete expired auth flows and switch retention to days
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/auth/schema.py
  diracx-db/tests/auth/test_authorization_flow.py
  diracx-db/tests/auth/test_device_flow.py
  diracx-logic/src/diracx/logic/auth/management.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

refactor: migrate fields to snake_case with alias (#917)
  diracx-cli/src/diracx/cli/internal/config.py
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-cli/tests/test_internal.py
  diracx-core/src/diracx/core/config/schema.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/resources.py
  diracx-core/tests/test_schema_legacy_adaptor.py
  diracx-db/tests/jobs/test_job_logging_db.py
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-logic/src/diracx/logic/auth/well_known.py
  diracx-logic/src/diracx/logic/jobs/query.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/src/diracx/logic/jobs/utils.py
  diracx-logic/src/diracx/logic/task_queues/priority.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-tasks/src/diracx/tasks/plumbing/scheduler/scheduler.py
  diracx-tasks/tests/test_scheduler_integration.py
  diracx-testing/src/diracx/testing/utils.py
  extensions/gubbins/gubbins-core/src/gubbins/core/config/schema.py
  extensions/gubbins/gubbins-logic/src/gubbins/logic/auth/well_known.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

feat(draft): add ResourceStatusSource and rss router
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/models/rss.py
  diracx-core/tests/test_status_source.py
  diracx-routers/pyproject.toml
  diracx-routers/src/diracx/routers/rss.py
  diracx-routers/tests/test_rss.py
Due: check-lollygag

fix: adjust rss logic and db to our needs
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/query.py
Due: check-lollygag

refactor(draft): make CacheableSource async native
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/tests/test_status_source.py
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/rss.py
  diracx-routers/tests/test_rss.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

feat: add AsyncCacheableSource and RSSAccessPolicy
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/models/rss.py
  diracx-core/src/diracx/core/utils.py
  diracx-core/tests/test_status_source.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/query.py
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-logic/tests/rss/test_rss_query.py
  diracx-logic/tests/rss/test_rss_source.py
  diracx-routers/pyproject.toml
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/rss.py
  diracx-routers/src/diracx/routers/rss/__init__.py
  diracx-routers/src/diracx/routers/rss/access_policies.py
  diracx-routers/src/diracx/routers/rss/rss.py
  diracx-routers/tests/test_rss.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-core/src/diracx/core/utils.py
  diracx-routers/src/diracx/routers/rss/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

fix: give up on source dependency injection
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/rss/rss.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix: wire RSS sources as singletons and fix caching bugs
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/models/rss.py
  diracx-core/tests/test_utils.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/pyproject.toml
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-logic/tests/rss/test_rss_source.py
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/rss/access_policies.py
  diracx-routers/src/diracx/routers/rss/rss.py
  diracx-routers/src/diracx/routers/utils/__init__.py
  diracx-routers/src/diracx/routers/utils/http_cache.py
  diracx-routers/tests/test_rss.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

docs: fix documentation of DIRACX_SERVICE_AUTH_DIRAC_CLIENT_ID
  diracx-core/src/diracx/core/settings.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

docs: document how to test diracx-charts changes
  .github/workflows/main.yml
  docs/dev/how-to/test-changes-in-diracx-charts.md
  mkdocs.yml
Due: none

docs: document how to test diracx-charts changes (#931)
  .github/workflows/main.yml
  diracx-core/src/diracx/core/settings.py
  docs/admin/reference/env-variables.md
  docs/dev/how-to/test-changes-in-diracx-charts.md
  mkdocs.yml
Due: check-lollygag, settings-doc-check

chore: regenerate client
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/tests/pilots/test_query.py
  diracx-db/tests/pilots/utils.py
  diracx-logic/src/diracx/logic/pilots/query.py
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag
