Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

chore: regenerate client
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/aio/operations/_patch.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-client/src/diracx/client/_generated/operations/_patch.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/search.py
  diracx-db/src/diracx/db/sql/dummy/db.py
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-routers/src/diracx/routers/pilots/access_policies.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

fix: added __all__
  diracx-db/src/diracx/db/sql/pilots/db.py
Due: check-lollygag

fix: Add more security to the pilot creation router
  diracx-routers/src/diracx/routers/pilots/management.py
Due: check-lollygag

fix: added query validation
  diracx-routers/src/diracx/routers/pilots/query.py
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag

fix: Fixed a micro typo
  diracx-logic/src/diracx/logic/pilots/management.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

chore: corrected spelling
  .pre-commit-config.yaml
  diracx-core/tests/test_config_source.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-routers/tests/jobs/test_sandboxes.py
  diracx-tasks/tests/test_worker_integration.py
  diracx-testing/src/diracx/testing/utils.py
  extensions/gubbins/gubbins-core/tests/test_config.py
  extensions/gubbins/gubbins-routers/tests/test_wellknown.py
  pyproject.toml
Due: check-lollygag

chore: from fastapi.status to HTTPStatus
  diracx-routers/src/diracx/routers/pilots/access_policies.py
  diracx-routers/src/diracx/routers/pilots/management.py
Due: check-lollygag

chore(main): release 0.1.1
  CHANGELOG.md
Due: none

chore(main): release 0.1.1 (#913)
  CHANGELOG.md
Due: none

fix(db): key resource statuses by VO and tolerate partial storage rows
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/query.py
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-logic/tests/rss/test_rss_source.py
  diracx-routers/tests/test_rss.py
Due: check-lollygag

refactor(core): move AsyncCacheableSource to diracx.core.sources with per-class TTLs
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/sources.py
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-routers/src/diracx/routers/rss/rss.py
  diracx-routers/tests/test_rss.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix(routers): call check_permissions in rss routes
  diracx-routers/src/diracx/routers/rss/rss.py
Due: check-lollygag

fix(routers): fail startup on unwired sources and override all source classes
  diracx-routers/src/diracx/routers/factory.py
Due: check-lollygag

fix(core): harden AsyncTwoLevelCache task lifetime handling
  diracx-core/src/diracx/core/utils.py
  diracx-core/tests/test_utils.py
Due: check-lollygag

chore: simplify rss router module
  diracx-routers/src/diracx/routers/rss/__init__.py
Due: check-lollygag

feat(core): add AsyncTwoLevelCache
  diracx-core/src/diracx/core/utils.py
  diracx-core/tests/test_utils.py
Due: check-lollygag

fix(routers): parse If-Modified-Since as GMT and extract apply_cache_headers
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/utils/__init__.py
  diracx-routers/src/diracx/routers/utils/http_cache.py
Due: check-lollygag

feat: clean up AuthDB refresh tokens by dropping partitions
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/tests/auth/test_partitions.py
  diracx-db/tests/auth/test_refresh_token.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-logic/src/diracx/logic/auth/management.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

fix: clean up AuthDB refresh tokens by dropping partitions (#929)
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/tests/auth/test_partitions.py
  diracx-db/tests/auth/test_refresh_token.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-logic/src/diracx/logic/auth/management.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

fix: use 'private' for jose keyword argument in as_dict
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix: use 'private' for jose keyword argument in as_dict (#944)
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix(routers): parse If-Modified-Since as GMT and extract apply_cache_headers (#937)
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/utils/__init__.py
  diracx-routers/src/diracx/routers/utils/http_cache.py
Due: check-lollygag

feat(core): add AsyncTwoLevelCache (#936)
  diracx-core/src/diracx/core/utils.py
  diracx-core/tests/test_utils.py
Due: check-lollygag

docs: add explanation page on splitting pull requests
  docs/dev/explanations/splitting-prs.md
  docs/dev/how-to/contribute.md
  mkdocs.yml
Due: none

test: include diracx-logic tests in root pytest testpaths
  pyproject.toml
Due: none

test: drop __init__.py from diracx-logic tests to avoid import collisions
  diracx-logic/tests/jobs/__init__.py
  diracx-logic/tests/rss/__init__.py
Due: check-lollygag

test: stop requiring __init__.py in test directories
  pyproject.toml
Due: none

test: include diracx-logic tests in root pytest testpaths (#946)
  diracx-logic/tests/jobs/__init__.py
  diracx-logic/tests/rss/__init__.py
  pyproject.toml
Due: check-lollygag

chore(main): release 0.2.0
  CHANGELOG.md
Due: none

docs: add explanation page on splitting pull requests (#945)
  docs/dev/explanations/splitting-prs.md
  docs/dev/how-to/contribute.md
  mkdocs.yml
Due: none

chore(main): release 0.2.0 (#941)
  CHANGELOG.md
Due: none

fix: migrate HTTP client usage to httpx2
  diracx-api/pyproject.toml
  diracx-api/src/diracx/api/jobs.py
  diracx-cli/src/diracx/cli/utils.py
  diracx-client/pyproject.toml
  diracx-client/src/diracx/client/patches/client/common.py
  diracx-client/src/diracx/client/patches/utils.py
  diracx-core/tests/test_s3.py
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-logic/tests/jobs/test_sandboxes.py
  diracx-routers/pyproject.toml
  diracx-routers/tests/auth/test_standard.py
  diracx-routers/tests/jobs/test_sandboxes.py
  diracx-testing/pyproject.toml
  diracx-testing/src/diracx/testing/utils.py
  extensions/gubbins/gubbins-routers/pyproject.toml
  pixi.lock
Due: check-lollygag, generate-pixi-docs

docs: enforce google docs style
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/src/diracx/routers/jobs/sandboxes.py
  pixi.lock
  pyproject.toml
Due: check-lollygag, generate-pixi-docs

docs: enforce google docs style - 1
  pyproject.toml
Due: none

docs: enforce google docs style - access_policies.py
  diracx-routers/src/diracx/routers/jobs/access_policies.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

fix: migrate HTTP client usage to httpx2 (#948)
  diracx-api/pyproject.toml
  diracx-api/src/diracx/api/jobs.py
  diracx-cli/src/diracx/cli/utils.py
  diracx-client/pyproject.toml
  diracx-client/src/diracx/client/patches/client/common.py
  diracx-client/src/diracx/client/patches/utils.py
  diracx-core/tests/test_s3.py
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-logic/tests/jobs/test_sandboxes.py
  diracx-routers/pyproject.toml
  diracx-routers/tests/auth/test_standard.py
  diracx-routers/tests/jobs/test_sandboxes.py
  diracx-testing/pyproject.toml
  diracx-testing/src/diracx/testing/utils.py
  extensions/gubbins/gubbins-routers/pyproject.toml
  pixi.lock
Due: check-lollygag, generate-pixi-docs

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
