Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

default_language_version:
  python: python3

ci:
  skip: [generate-pixi-docs, settings-doc-check]

default_stages: [pre-commit]

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - sqlalchemy
          - types-PyYAML
          - types-cachetools
          - types-requests
          - types-python-dateutil
          - types-aiobotocore[essential]
          - boto3-stubs[essential]
        exclude: ^(diracx-client/src/diracx/client/_generated|diracx-[a-z]+/tests/|diracx-testing/|build|extensions/gubbins/gubbins-client/src/gubbins/client/_generated)

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--number"]
        exclude: ^CHANGELOG\.md$
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-gfm

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-w"]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==22.12.0

  - repo: local
    hooks:
      - id: check-lollygag
        name: check for lollygag
        types: [python]
        entry: "(?i)lollygag"
        language: pygrep
        files: ^diracx

  - repo: local
    hooks:
      - id: generate-pixi-docs
        name: Generate pixi tasks documentation
        entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
        language: system
        pass_filenames: false
        files: ^pixi\.toml$|^pixi\.lock$ # only run if pixi files change

  - repo: local
    hooks:
      - id: settings-doc-check
        name: Generate settings documentation
        entry: pixi run -e default python scripts/generate_settings_docs.py
        language: system
        pass_filenames: false
        files: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$

refactor: use mock_client via common mock_osdb module and conftest.py declarations
  diracx-db/tests/conftest.py
  diracx-db/tests/utils/test_utils.py
  diracx-logic/tests/conftest.py
  diracx-logic/tests/jobs/test_status.py
Due: check-lollygag

fix: put diracx.testing.mock_osdb into pyproject.toml instead of keeping it in conftest module
  diracx-db/pyproject.toml
  diracx-db/tests/conftest.py
  diracx-logic/pyproject.toml
  diracx-logic/tests/conftest.py
Due: check-lollygag

fix: move timestamp outside of for loop
  diracx-db/src/diracx/db/os/job_parameters.py
Due: check-lollygag

fix(imports): sort import errors
  diracx-logic/src/diracx/logic/jobs/status.py
Due: check-lollygag

refactor: move mock_client into testing module; add bulk_upsert implementation for MockOSDBMixin class
  diracx-testing/src/diracx/testing/mock_osdb.py
Due: check-lollygag

fix: move diracx.testing.mock_osdb to pyproject.toml
  diracx-db/tests/conftest.py
  pyproject.toml
Due: check-lollygag

chore: few adjustments
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/os/job_parameters.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_upsert.py
  diracx-db/tests/utils/test_utils.py
  diracx-logic/pyproject.toml
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/tests/jobs/test_status.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  diracx-testing/src/diracx/testing/osdb.py
  pyproject.toml
Due: check-lollygag

ci: add safe release environment template
  .github/workflows/release-please.yml
  scripts/generate_release_env.py
  tests/test_generate_release_env.py
Due: none

refactor(api): add bulk_upsert method and unit tests for opensearch BaseOSDB class (#990)
  diracx-db/src/diracx/db/os/job_parameters.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_upsert.py
  diracx-db/tests/utils/test_utils.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  diracx-testing/src/diracx/testing/osdb.py
Due: check-lollygag

chore(main): release 0.5.0
  CHANGELOG.md
Due: none

chore(main): release 0.5.0 (#1040)
  CHANGELOG.md
Due: none

docs: add Google-style docs to diracx-db and remove D100-D300 from per-file-ignores for it
  diracx-db/src/diracx/db/__main__.py
  diracx-db/src/diracx/db/exceptions.py
  diracx-db/src/diracx/db/os/job_parameters.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/auth/schema.py
  diracx-db/src/diracx/db/sql/dummy/db.py
  diracx-db/src/diracx/db/sql/dummy/schema.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
  diracx-db/src/diracx/db/sql/job_logging/db.py
  diracx-db/src/diracx/db/sql/job_logging/schema.py
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
  diracx-db/src/diracx/db/sql/task_queue/db.py
  diracx-db/src/diracx/db/sql/task_queue/schema.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/functions.py
  diracx-db/src/diracx/db/sql/utils/types.py
  pyproject.toml
Due: check-lollygag

docs: add Google-style docs to diracx-db and remove D100-D300 from per-file-ignores for it (#1054)
  diracx-db/src/diracx/db/__main__.py
  diracx-db/src/diracx/db/exceptions.py
  diracx-db/src/diracx/db/os/job_parameters.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/auth/schema.py
  diracx-db/src/diracx/db/sql/dummy/db.py
  diracx-db/src/diracx/db/sql/dummy/schema.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
  diracx-db/src/diracx/db/sql/job_logging/db.py
  diracx-db/src/diracx/db/sql/job_logging/schema.py
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
  diracx-db/src/diracx/db/sql/task_queue/db.py
  diracx-db/src/diracx/db/sql/task_queue/schema.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/functions.py
  diracx-db/src/diracx/db/sql/utils/types.py
  pyproject.toml
Due: check-lollygag

fix(db): raise exception instead of warning for missing DB URLs
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
Due: check-lollygag

fix(db,routers): improve DB URLs error handling
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-routers/src/diracx/routers/factory.py
Due: check-lollygag

fix: do not checkout the local git config repository
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/tests/test_config_source.py
Due: check-lollygag

feat: one logging configuration, optionally as JSON, with the context
  diracx-core/src/diracx/core/logs.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_logs.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/utils/users.py
  diracx-tasks/src/diracx/tasks/otel.py
  diracx-tasks/src/diracx/tasks/plumbing/worker/worker.py
  diracx-tasks/src/diracx/tasks/task_run.py
  diracx-tasks/tests/test_logs.py
  diracx-tasks/tests/test_otel.py
  diracx-testing/src/diracx/testing/otel_printer.py
  docs/admin/explanations/logs.md
  docs/admin/how-to/monitoring/collect-and-read-logs.md
  docs/admin/how-to/monitoring/diracx.stern.tmpl
  docs/admin/how-to/monitoring/index.md
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
  docs/admin/reference/logs.md
  docs/admin/reference/opentelemetry.md
  docs/admin/tutorials/monitor-tasks.md
  docs/dev/how-to/add-telemetry.md
  docs/dev/tutorials/advanced-tutorial/running-locally.md
  mkdocs.yml
Due: check-lollygag, settings-doc-check

feat: instrument the task system with OpenTelemetry
  .pre-commit-config.yaml
  diracx-core/src/diracx/core/settings.py
  diracx-routers/pyproject.toml
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/otel.py
  diracx-routers/src/diracx/routers/utils/users.py
  diracx-routers/tests/test_otel.py
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/otel.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/models.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/redis_streams.py
  diracx-tasks/src/diracx/tasks/plumbing/persistence/dlq.py
  diracx-tasks/src/diracx/tasks/plumbing/scheduler/scheduler.py
  diracx-tasks/src/diracx/tasks/plumbing/worker/worker.py
  diracx-tasks/src/diracx/tasks/task_run.py
  diracx-tasks/tests/test_otel.py
  diracx-tasks/tests/test_otel_printer.py
  diracx-testing/pyproject.toml
  diracx-testing/src/diracx/testing/otel_printer.py
  docs/admin/explanations/opentelemetry.md
  docs/admin/how-to/monitoring/enable-opentelemetry.md
  docs/admin/how-to/monitoring/index.md
  docs/admin/how-to/monitoring/troubleshoot-with-telemetry.md
  docs/admin/how-to/monitoring/use-the-dashboards.md
  docs/admin/how-to/tasks/operate.md
  docs/admin/reference/env-variables.md
  docs/admin/reference/opentelemetry.md
  docs/admin/tutorials/monitor-tasks.md
  docs/dev/explanations/tasks/index.md
  docs/dev/how-to/add-telemetry.md
  docs/dev/reference/pixi-tasks.md
  docs/dev/tutorials/advanced-tutorial/running-locally.md
  mkdocs.yml
  pixi.lock
  pixi.toml
  run_local.sh
Due: check-lollygag, generate-pixi-docs, settings-doc-check

test(testing): support UUIDv7 with frozen time
  diracx-db/tests/utils/test_uuid.py
  diracx-testing/src/diracx/testing/time.py
  docs/dev/reference/test-recipes.md
Due: check-lollygag

chore(deps): migrate uuid-utils to 1.0
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/tests/utils/test_uuid.py
  diracx-testing/pyproject.toml
  diracx-testing/src/diracx/testing/time.py
  docs/dev/reference/test-recipes.md
  pixi.lock
Due: check-lollygag, generate-pixi-docs

docs: add Google-style docs to diracx-core and remove D100-D300 from …per-file-ignores for it (#1051)
  diracx-client/src/diracx/client/_generated/models/_enums.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-core/src/diracx/core/config/schema.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/models/auth.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-core/src/diracx/core/models/replica_map.py
  diracx-core/src/diracx/core/models/rss.py
  diracx-core/src/diracx/core/models/sandbox.py
  diracx-core/src/diracx/core/models/search.py
  diracx-core/src/diracx/core/models/types.py
  diracx-core/src/diracx/core/preferences.py
  diracx-core/src/diracx/core/properties.py
  diracx-core/src/diracx/core/resources.py
  diracx-core/src/diracx/core/s3.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/src/diracx/core/sources.py
  diracx-core/src/diracx/core/utils.py
  docs/admin/reference/env-variables.md
  docs/dev/reference/env-variables.md
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_enums.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  pyproject.toml
Due: check-lollygag, settings-doc-check

ci: add safe release environment template (#1053)
  .github/workflows/release-please.yml
  scripts/generate_release_env.py
  tests/test_generate_release_env.py
Due: none

feat: one logging configuration, optionally as JSON, with the context
  diracx-core/src/diracx/core/logs.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_logs.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/utils/users.py
  diracx-routers/tests/test_otel.py
  diracx-tasks/src/diracx/tasks/otel.py
  diracx-tasks/src/diracx/tasks/plumbing/worker/worker.py
  diracx-tasks/src/diracx/tasks/task_run.py
  diracx-tasks/tests/test_logs.py
  diracx-tasks/tests/test_otel.py
  diracx-testing/pyproject.toml
  diracx-testing/src/diracx/testing/otel.py
  diracx-testing/src/diracx/testing/otel_printer.py
  docs/admin/explanations/logs.md
  docs/admin/how-to/monitoring/collect-and-read-logs.md
  docs/admin/how-to/monitoring/diracx.stern.tmpl
  docs/admin/how-to/monitoring/index.md
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
  docs/admin/reference/logs.md
  docs/admin/reference/opentelemetry.md
  docs/admin/tutorials/monitor-tasks.md
  docs/dev/how-to/add-telemetry.md
  docs/dev/tutorials/advanced-tutorial/running-locally.md
  mkdocs.yml
  pixi.lock
Due: check-lollygag, generate-pixi-docs, settings-doc-check

fix: validate the log levels and keep the file handlers of uvicorn
  diracx-core/src/diracx/core/logs.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_logs.py
  docs/admin/reference/logs.md
Due: check-lollygag, settings-doc-check

feat: link task executions to their submission and make the OTel SDK optional
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/logs.py
  diracx-core/src/diracx/core/otel/__init__.py
  diracx-core/src/diracx/core/otel/_setup.py
  diracx-core/src/diracx/core/otel/configure.py
  diracx-core/tests/test_otel.py
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/sql/__init__.py
  diracx-db/src/diracx/db/sql/otel.py
  diracx-db/tests/test_otel.py
  diracx-routers/pyproject.toml
  diracx-routers/src/diracx/routers/otel.py
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/otel.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/models.py
  diracx-tasks/src/diracx/tasks/plumbing/worker/worker.py
  diracx-tasks/src/diracx/tasks/task_run.py
  diracx-tasks/tests/test_otel.py
  diracx-tasks/tests/test_otel_printer.py
  diracx-testing/src/diracx/testing/otel_printer.py
  docs/admin/explanations/opentelemetry.md
  docs/admin/how-to/monitoring/enable-opentelemetry.md
  docs/admin/how-to/monitoring/troubleshoot-with-telemetry.md
  docs/admin/reference/opentelemetry.md
  docs/admin/tutorials/monitor-tasks.md
  docs/dev/explanations/tasks/index.md
  docs/dev/how-to/add-telemetry.md
  docs/dev/tutorials/advanced-tutorial/running-locally.md
  pixi.lock
  pixi.toml
  run_local.sh
Due: check-lollygag, generate-pixi-docs

chore(main): release 0.6.0
  CHANGELOG.md
Due: none

chore(main): release 0.6.0 (#1060)
  CHANGELOG.md
Due: none

fix: better dependencies for OTEL to avoid extension need modification
  diracx-routers/pyproject.toml
  diracx-routers/tests/auth/test_standard.py
  diracx-tasks/pyproject.toml
Due: check-lollygag

chore: pin fastapi to avoid > 1.137 due to breaking change on APIRoute https://github.com/fastapi/fastapi/releases/tag/0.137.0
  diracx-routers/pyproject.toml
Due: none

chore: update pixi.lock
  pixi.lock
Due: generate-pixi-docs

chore: pin uuid-utils because of breaking api
  diracx-db/pyproject.toml
  diracx-testing/pyproject.toml
Due: none

chore: pin pytest because of breaking changes in 9.1.0
  diracx-testing/pyproject.toml
  pixi.lock
Due: generate-pixi-docs

fix: fix otel dependency such that extensions do not need to change (#1061)
  diracx-db/pyproject.toml
  diracx-routers/pyproject.toml
  diracx-routers/tests/auth/test_standard.py
  diracx-tasks/pyproject.toml
  diracx-testing/pyproject.toml
  pixi.lock
Due: check-lollygag, generate-pixi-docs

chore(main): release 0.6.1
  CHANGELOG.md
Due: none

chore(main): release 0.6.1 (#1062)
  CHANGELOG.md
Due: none

fix(routers): adapt to FastAPI 0.137+ router tree
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/fastapi_classes.py
  diracx-routers/tests/test_policy.py
Due: check-lollygag
