Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

fix(routers): change wrong import in entrypoints
  diracx-routers/pyproject.toml
Due: none

chore: Change check-init-files hook from sh to python
  .github/workflows/check_init_files_precommit_hook.py
  .github/workflows/check_init_files_precommit_hook.sh
  .pre-commit-config.yaml
Due: none

chore: empty __all__ from diracx/client/__init__.py
  diracx-client/src/diracx/client/__init__.py
Due: check-lollygag

feat: Check existance of __all__ in __init__ files during pre-commit
  .github/workflows/check_init_files_precommit_hook.sh
  .pre-commit-config.yaml
Due: none

chore: Check gubbins extension during the check-init-files precommit hook
  .pre-commit-config.yaml
Due: none

chore: move pre-commit scripts from .github/workflows to scripts
  .pre-commit-config.yaml
  scripts/check_init_files_precommit_hook.py
  scripts/generate_pixi_tasks_doc.py
Due: none

chore: remove diracx/routers/__init__.py imports
  diracx-routers/src/diracx/routers/__init__.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/test_generic.py
  diracx-testing/src/diracx/testing/routers.py
  diracx-testing/src/diracx/testing/utils.py
  run_local.sh
Due: check-lollygag

feat: add conftest to diracx
  conftest.py
Due: none

fix: Fix hook, it always failed and executed multiple times
  .github/workflows/check_init_files_precommit_hook.sh
  .pre-commit-config.yaml
Due: none

chore: Add 'open_access' to access_policies __all__
  diracx-routers/src/diracx/routers/access_policies.py
Due: check-lollygag

chore: Remove BaseModel from the public API
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/tests/test_schema_legacy_adaptor.py
Due: check-lollygag

chore(docs): Update codeconv to showcase __all__ treatment
  docs/dev/reference/coding-conventions.md
Due: none

chore: Add the rest of the properties to the public API
  diracx-core/src/diracx/core/properties.py
Due: check-lollygag

chore: Remove pydatic Field being imported from diracx
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/config/__init__.py
Due: check-lollygag

chore: set shebang for moved python scripts
  scripts/check_init_files_precommit_hook.py
  scripts/generate_pixi_tasks_doc.py
Due: none

chore: update newly added __init__.py files
  diracx-cli/tests/legacy/__init__.py
  diracx-cli/tests/legacy/cs_sync/__init__.py
  diracx-db/src/diracx/db/sql/rss/__init__.py
  diracx-db/tests/auth/__init__.py
  diracx-db/tests/jobs/__init__.py
  diracx-db/tests/opensearch/__init__.py
  diracx-db/tests/pilot_agents/__init__.py
  diracx-db/tests/rss/__init__.py
  diracx-db/tests/utils/__init__.py
  diracx-logic/src/diracx/logic/rss/__init__.py
  diracx-logic/tests/jobs/__init__.py
  diracx-logic/tests/rss/__init__.py
  diracx-routers/tests/auth/__init__.py
  diracx-routers/tests/health/__init__.py
  diracx-routers/tests/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/plumbing/__init__.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/my_pilot_db/__init__.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/__init__.py
Due: check-lollygag

fix: remove diracx-testing import changes
  conftest.py
  diracx-testing/src/diracx/testing/__init__.py
Due: check-lollygag

chore: remove check-init-files hook from ci
  .pre-commit-config.yaml
Due: none

chore: bring back create_app to diracx/routers/__init__.py
  diracx-routers/src/diracx/routers/__init__.py
  diracx-routers/src/diracx/routers/otel.py
  run_local.sh
Due: check-lollygag

chore: add RUF022 rule to pyproject.toml
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/models/__init__.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/src/diracx/core/utils.py
  diracx-db/src/diracx/db/__init__.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-logic/src/diracx/logic/auth/__init__.py
  diracx-logic/src/diracx/logic/jobs/__init__.py
  diracx-routers/src/diracx/routers/auth/__init__.py
  diracx-routers/src/diracx/routers/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/__init__.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/models.py
  diracx-tasks/src/diracx/tasks/plumbing/callbacks.py
  diracx-tasks/src/diracx/tasks/plumbing/config.py
  diracx-tasks/src/diracx/tasks/plumbing/depends.py
  diracx-tasks/src/diracx/tasks/plumbing/exceptions.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-tasks/src/diracx/tasks/plumbing/locks.py
  diracx-tasks/src/diracx/tasks/plumbing/retry_policies.py
  diracx-tasks/src/diracx/tasks/plumbing/schedules.py
  diracx-testing/src/diracx/testing/__init__.py
  diracx-testing/src/diracx/testing/osdb.py
  diracx-testing/src/diracx/testing/time.py
  pyproject.toml
Due: check-lollygag, settings-doc-check

chore: add root level files to check-init-files pre-commit hook
  .pre-commit-config.yaml
  diracx-db/src/diracx/db/exceptions.py
  diracx-tasks/src/diracx/tasks/depends.py
  diracx-tasks/src/diracx/tasks/task_run.py
  extensions/gubbins/gubbins-logic/src/gubbins/logic/my_pilots.py
  extensions/gubbins/gubbins-routers/src/gubbins/routers/my_pilots.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/depends.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/lock_types.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/lollygag.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/my_pilot_lock_types.py
  extensions/gubbins/gubbins-tasks/src/gubbins/tasks/my_pilots.py
  scripts/check_init_files_precommit_hook.py
Due: check-lollygag

feat: add documentation for diracx container deployment
  docs/admin/how-to/install-without-kubernetes/index.md
  docs/admin/how-to/install-without-kubernetes/installing-in-a-container.md
  docs/admin/how-to/install-without-kubernetes/prepare-container-node.md
  docs/admin/how-to/install/index.md
  docs/admin/how-to/install/installing-in.md
  docs/admin/how-to/install/minimal-requirements.md
  mkdocs.yml
Due: none

feat: run pre-commit with pixi
  .github/workflows/main.yml
Due: none

feat: add documentation for diracx container deployment (#851)
  docs/admin/how-to/install-without-kubernetes/index.md
  docs/admin/how-to/install-without-kubernetes/installing-in-a-container.md
  docs/admin/how-to/install-without-kubernetes/prepare-container-node.md
  docs/admin/how-to/install/index.md
  docs/admin/how-to/install/installing-in.md
  docs/admin/how-to/install/minimal-requirements.md
  mkdocs.yml
Due: none

chore: remove unused routers/jobs/legacy.py file
  diracx-routers/src/diracx/routers/jobs/legacy.py
Due: check-lollygag

chore: Use ast for __all__ checks
  .github/workflows/check_init_files_precommit_hook.py
  .pre-commit-config.yaml
Due: none

fix: Revert wrongly imported router from diracx
  extensions/gubbins/gubbins-routers/src/gubbins/routers/well_known.py
Due: none

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
