Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

fix: client regeneration
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
Due: check-lollygag

chore: remove deprecated helpers (#789)
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-db/src/diracx/db/sql/utils/types.py
Due: check-lollygag

refactor: Change the DeclarativeBase sqlalchemy style (#748)
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/auth/schema.py
  diracx-db/src/diracx/db/sql/dummy/schema.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
  diracx-db/src/diracx/db/sql/job_logging/db.py
  diracx-db/src/diracx/db/sql/job_logging/schema.py
  diracx-db/src/diracx/db/sql/pilot_agents/schema.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
  diracx-db/src/diracx/db/sql/task_queue/schema.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/types.py
  diracx-db/tests/utils/test_uuid.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  docs/dev/explanations/components/db.md
  docs/dev/reference/coding-conventions.md
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/schema.py
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/lollygag/schema.py
Due: check-lollygag

docs: replace a template site_description text. Fixes #755 (#793)
  mkdocs.yml
Due: none

chore: renovate version maintenance for autorest client generation (#699)
  diracx-testing/src/diracx/testing/client_generation.py
  renovate.json
Due: check-lollygag

chore: remove lines from models init and bump diraccommon version (#791)
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/models/__init__.py
  diracx-logic/pyproject.toml
Due: check-lollygag

chore(main): release 0.0.9 (#771)
  CHANGELOG.md
Due: none

docs: update diracx-web documentation (#803)
  docs/dev/explanations/extensions.md
  docs/dev/explanations/repo-structure.md
  docs/dev/how-to/contribute.md
  docs/dev/how-to/write-docs.md
  docs/dev/reference/index.md
  docs/dev/tutorials/develop-web.md
  docs/dev/tutorials/index.md
  mkdocs.yml
Due: none

fix: optimize sandbox cleaning performance (#796)
  diracx-core/src/diracx/core/s3.py
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  diracx-logic/tests/jobs/test_sandboxes.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

fix: EdDSA to Ed25519 token migration (#786)
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_secrets.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-routers/tests/auth/test_standard.py
  diracx-testing/src/diracx/testing/utils.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

perf: use sargable (Search ARGument ABLE) range predicates for datetime search filters (#809)
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/functions.py
Due: check-lollygag

chore(main): release 0.0.10 (#805)
  CHANGELOG.md
Due: none

chore: added documentation for table extensions (#721)
  docs/dev/explanations/extensions.md
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/schema.py
Due: none

refactor: Strip autorest version comments from generated client files (#821)
  diracx-client/src/diracx/client/_generated/__init__.py
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/_configuration.py
  diracx-client/src/diracx/client/_generated/_serialization.py
  diracx-client/src/diracx/client/_generated/_utils/__init__.py
  diracx-client/src/diracx/client/_generated/_utils/serialization.py
  diracx-client/src/diracx/client/_generated/_utils/utils.py
  diracx-client/src/diracx/client/_generated/_vendor.py
  diracx-client/src/diracx/client/_generated/aio/__init__.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/_configuration.py
  diracx-client/src/diracx/client/_generated/aio/_vendor.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_enums.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-testing/src/diracx/testing/client_generation.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/utils.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_vendor.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_vendor.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_enums.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

jobs/tests/docs: Add heartbeat command tests and lifecycle documentation
  .gitignore
  diracx-routers/tests/jobs/test_heartbeat_commands.py
  diracx-routers/tests/jobs/test_status.py
  docs/dev/explanations/job_commands.md
  mkdocs.yml
Due: check-lollygag

docs: Add heartbeat command tests and lifecycle documentation (#816)
  .gitignore
  diracx-routers/tests/jobs/test_heartbeat_commands.py
  diracx-routers/tests/jobs/test_status.py
  docs/dev/explanations/job_commands.md
  mkdocs.yml
Due: check-lollygag

refactor: split refresh tokens cleanup function, harmonize units and handle pending/ready flows
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/tests/auth/test_authorization_flow.py
  diracx-db/tests/auth/test_device_flow.py
  diracx-db/tests/auth/test_refresh_token.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-logic/src/diracx/logic/auth/management.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

feat: add functions to cleanup the AuthDB tables
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-logic/src/diracx/logic/auth/token.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

feat: add cleanup authdb script
  diracx-logic/src/diracx/logic/__main__.py
Due: check-lollygag

feat: add tests for the AuthDB cleanup function
  diracx-db/tests/auth/test_authorization_flow.py
  diracx-db/tests/auth/test_device_flow.py
  diracx-db/tests/auth/test_refresh_token.py
Due: check-lollygag

fix: move cleanup function and minor log fixes
  diracx-logic/src/diracx/logic/auth/management.py
  diracx-logic/src/diracx/logic/auth/token.py
Due: check-lollygag

fix: remove unnecessary filter
  diracx-db/src/diracx/db/sql/auth/db.py
Due: check-lollygag

Feat: authdb tables cleanup (#815)
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/tests/auth/test_authorization_flow.py
  diracx-db/tests/auth/test_device_flow.py
  diracx-db/tests/auth/test_refresh_token.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-logic/src/diracx/logic/auth/management.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

fix: fix broken links
  docs/assets/home.html
  docs/overrides/main.html
Due: none

docs: linked page to get in touch with developers
  docs/developers.md
  docs/overrides/main.html
Due: none

fix: added DiracX favicon
  docs/assets/images/favicon.png
Due: none

fix: reverted HTTPException handling
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/tests/jobs/test_query.py
Due: check-lollygag

chore: updated tests
  diracx-routers/tests/jobs/test_query.py
Due: check-lollygag

fix: added status_code checks in tests
  diracx-routers/tests/jobs/test_query.py
Due: check-lollygag

fix: fixed exception handling
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/tests/jobs/test_query.py
Due: check-lollygag

fix: gubbins client regen
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: none

chore: regenerate client
  diracx-client/src/diracx/client/_generated/models/__init__.py
Due: check-lollygag

chore: added numeric values validation in API
  diracx-routers/src/diracx/routers/jobs/query.py
Due: check-lollygag

fix: client regeneration
  diracx-client/src/diracx/client/_generated/models/__init__.py
Due: check-lollygag

fix: regenerate client
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
Due: check-lollygag

Fixing documentation bugs (#832)
  docs/assets/home.html
  docs/assets/images/favicon.png
  docs/developers.md
  docs/overrides/main.html
Due: none

fix: diracx client regen
  diracx-client/src/diracx/client/_generated/models/_models.py
Due: check-lollygag

fix: gubbins client regen
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: none

chore: added API validation for numeric values (#826)
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/tests/jobs/test_query.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
