Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

fix: template-injection cases, use env instead.
  .github/workflows/deployment.yml
Due: none

fix: fixed empty list value
  .github/workflows/main.yml
Due: none

fix: fixed gubbins CI rules
  extensions/gubbins/.github/workflows/main.yml
Due: none

fix: fixed mismatch versions with pinact
  .github/workflows/deployment.yml
  .github/workflows/draft-on-changes-requested.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
  .github/workflows/pr-title.yml
  .github/workflows/record-changes-requested.yml
  .github/workflows/release-please.yml
  .github/workflows/update_security_txt_expiry.yml
  .github/workflows/vulnerabilities.yml
Due: none

chore: added zizmor to pre-commit
  .pre-commit-config.yaml
Due: none

chore: added gha-lint commands to pixi
  .pre-commit-config.yaml
  docs/dev/reference/pixi-tasks.md
  pixi.lock
  pixi.toml
  scripts/generate_pixi_tasks_doc.py
Due: generate-pixi-docs

ci: harden github actions (#956)
  .github/workflows/deployment.yml
  .github/workflows/draft-on-changes-requested.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
  .github/workflows/pr-title.yml
  .github/workflows/record-changes-requested.yml
  .github/workflows/release-please.yml
  .github/workflows/update_security_txt_expiry.yml
  .github/workflows/vulnerabilities.yml
  .pre-commit-config.yaml
  docs/dev/reference/pixi-tasks.md
  extensions/gubbins/.github/workflows/main.yml
  pixi.lock
  pixi.toml
  scripts/generate_pixi_tasks_doc.py
Due: generate-pixi-docs

chore: no cool down period for signularity nor diraccommon
  pixi.toml
Due: generate-pixi-docs

chore: no cool down period for signularity nor diraccommon (#959)
  pixi.toml
Due: generate-pixi-docs

fix: avoid httpx2 verify=<str> deprecation in the client auth patches (#952)
  diracx-client/src/diracx/client/patches/client/aio.py
  diracx-client/src/diracx/client/patches/client/common.py
  diracx-client/src/diracx/client/patches/client/sync.py
  diracx-client/src/diracx/client/patches/utils.py
  diracx-client/tests/test_auth.py
  diracx-core/src/diracx/core/utils.py
Due: check-lollygag

docs: enforce google docs style - cli
  diracx-cli/src/diracx/cli/auth.py
  diracx-cli/src/diracx/cli/config.py
  diracx-cli/src/diracx/cli/jobs.py
  diracx-cli/src/diracx/cli/utils.py
Due: check-lollygag

docs: enforce google docs style - db/exceptions.py
  diracx-db/src/diracx/db/exceptions.py
Due: check-lollygag

docs: enforce google docs style - db/exceptions.py (fix module doc)
  diracx-db/src/diracx/db/exceptions.py
Due: check-lollygag

docs: enforce google docs style - os/job_parameters
  diracx-db/src/diracx/db/os/job_parameters.py
Due: check-lollygag

docs: enforce google docs style - os/utils
  diracx-db/src/diracx/db/os/utils.py
Due: check-lollygag

test: use freezegun instead of sleeps in time-sensitive tests
  diracx-db/tests/jobs/test_sandbox_metadata.py
  diracx-db/tests/test_freeze_time.py
  diracx-logic/tests/jobs/test_sandboxes.py
  diracx-logic/tests/jobs/test_status.py
  diracx-routers/tests/auth/test_standard.py
  diracx-routers/tests/jobs/test_heartbeat_commands.py
  diracx-testing/pyproject.toml
  diracx-testing/src/diracx/testing/__init__.py
  diracx-testing/src/diracx/testing/time.py
  diracx-testing/src/diracx/testing/utils.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

feat: add rss router serving cached resource status
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-logic/pyproject.toml
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-logic/tests/rss/test_rss_source.py
  diracx-routers/pyproject.toml
  diracx-routers/src/diracx/routers/rss/__init__.py
  diracx-routers/src/diracx/routers/rss/access_policies.py
  diracx-routers/src/diracx/routers/rss/rss.py
  diracx-routers/tests/test_rss.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

fix(rss): filter revision query by element_type
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-logic/tests/rss/test_rss_source.py
Due: check-lollygag

test: use freezegun instead of sleeps in time-sensitive tests (#957)
  diracx-db/tests/jobs/test_sandbox_metadata.py
  diracx-db/tests/test_freeze_time.py
  diracx-logic/tests/jobs/test_sandboxes.py
  diracx-logic/tests/jobs/test_status.py
  diracx-routers/tests/auth/test_standard.py
  diracx-routers/tests/jobs/test_heartbeat_commands.py
  diracx-testing/pyproject.toml
  diracx-testing/src/diracx/testing/__init__.py
  diracx-testing/src/diracx/testing/time.py
  diracx-testing/src/diracx/testing/utils.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

feat: add rss router serving cached resource status (#940)
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-logic/pyproject.toml
  diracx-logic/src/diracx/logic/rss/source.py
  diracx-logic/tests/rss/test_rss_source.py
  diracx-routers/pyproject.toml
  diracx-routers/src/diracx/routers/rss/__init__.py
  diracx-routers/src/diracx/routers/rss/access_policies.py
  diracx-routers/src/diracx/routers/rss/rss.py
  diracx-routers/tests/test_rss.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

feat: add pre-run-hook in entrypoint
  containers/entrypoint.sh
Due: none

docs: enforce google docs style - db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/auth/db.py
Due: check-lollygag

docs: enforce google docs style - db/sql/dummy/db.py
  diracx-db/src/diracx/db/sql/dummy/db.py
Due: check-lollygag

chore(main): release 0.3.0
  CHANGELOG.md
Due: none

chore: introduce FactorySettings to manage some global settings
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/auth/test_legacy_exchange.py
  diracx-routers/tests/auth/test_standard.py
  diracx-routers/tests/test_generic.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-tasks/src/diracx/tasks/task_run.py
  diracx-testing/src/diracx/testing/__init__.py
  diracx-testing/src/diracx/testing/utils.py
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
  docs/templates/_render_class.jinja
  scripts/generate_settings_docs.py
Due: check-lollygag, settings-doc-check

feat: support global OS prefix
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  docs/admin/reference/env-variables.md
  toto
Due: check-lollygag, settings-doc-check

docs: enforce google docs style - db/sql/job
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
Due: check-lollygag

docs: enforce google docs style - db/sql/job_logging
  diracx-db/src/diracx/db/sql/job_logging/db.py
  diracx-db/src/diracx/db/sql/job_logging/schema.py
Due: check-lollygag

docs: enforce google docs style - db/sql/rss
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
Due: check-lollygag

docs: enforce google docs style - db/sql/sandbox_metadata
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
Due: check-lollygag

docs: enforce google docs style - db/sql/rss/schema.py
  diracx-db/src/diracx/db/sql/rss/schema.py
Due: check-lollygag

docs: enforce google docs style - db/sql/task_queue
  diracx-db/src/diracx/db/sql/task_queue/db.py
  diracx-db/src/diracx/db/sql/task_queue/schema.py
Due: check-lollygag

docs: enforce google docs style - db/sql/utils
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/functions.py
  diracx-db/src/diracx/db/sql/utils/types.py
Due: check-lollygag

docs: enforce google docs style - logic/auth
  diracx-logic/src/diracx/logic/auth/authorize_code_flow.py
  diracx-logic/src/diracx/logic/auth/device_flow.py
  diracx-logic/src/diracx/logic/auth/management.py
  diracx-logic/src/diracx/logic/auth/token.py
Due: check-lollygag

docs: enforce google docs style - logic/jobs
  diracx-logic/src/diracx/logic/jobs/query.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/src/diracx/logic/jobs/submission.py
  diracx-logic/src/diracx/logic/jobs/utils.py
Due: check-lollygag

docs: enforce google docs style - logic/rss/query
  diracx-logic/src/diracx/logic/rss/query.py
Due: check-lollygag

docs: enforce google docs style - logic/task_queues/priority.py
  diracx-logic/src/diracx/logic/task_queues/priority.py
Due: check-lollygag

docs: enforce google docs style - routers/auth
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/management.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-routers/src/diracx/routers/auth/well_known.py
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
