Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

fix: use YAML parser for chart version to handle comments
  .github/workflows/update_chart_version.py
Due: none

feat: add logging for health check failures
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/health/probes.py
Due: check-lollygag

feat: add logging for error conditions and edge cases
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/management.py
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/utils/users.py
Due: check-lollygag

feat: add logging for error conditions and edge cases (#734)
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-routers/src/diracx/routers/auth/authorize_code_flow.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
  diracx-routers/src/diracx/routers/auth/management.py
  diracx-routers/src/diracx/routers/configuration.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/src/diracx/routers/health/probes.py
  diracx-routers/src/diracx/routers/utils/users.py
Due: check-lollygag

chore(main): release 0.0.5
  CHANGELOG.md
Due: none

chore(main): release 0.0.5 (#732)
  CHANGELOG.md
Due: none

fix: use correct argument name for update_chart_version.py
  .github/workflows/deployment.yml
Due: none

chore(main): release 0.0.6
  CHANGELOG.md
Due: none

chore(main): release 0.0.6 (#735)
  CHANGELOG.md
Due: none

fix: require fastapi>=0.121.0 for Depends scope parameter
  diracx-routers/pyproject.toml
Due: none

fix: add logging and retry for cache population failures
  diracx-core/src/diracx/core/utils.py
  diracx-core/tests/test_utils.py
Due: check-lollygag

fix: require fastapi>=0.121.0 for Depends scope parameter (#737)
  diracx-routers/pyproject.toml
Due: none

fix: add logging and retry for cache population failures (#736)
  diracx-core/src/diracx/core/utils.py
  diracx-core/tests/test_utils.py
Due: check-lollygag

chore(main): release 0.0.7
  CHANGELOG.md
Due: none

chore(main): release 0.0.7 (#738)
  CHANGELOG.md
Due: none

fix: use batched DB deletes with SKIP LOCKED for sandbox cleanup
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  diracx-logic/tests/jobs/test_sandboxes.py
Due: check-lollygag

fix: improve pytest-integration debugging output
  .github/scripts/collect-k8s-debug-info.sh
  .github/workflows/main.yml
Due: none

fix: improve pytest-integration debugging output (#740)
  .github/scripts/collect-k8s-debug-info.sh
  .github/workflows/main.yml
Due: none

chore: do not run github action for release please
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
Due: none

chore: do not run github action for release please (#742)
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
Due: none

refactor: added a StrEnum for Entrypoints to avoid spelling mistakes
  diracx-cli/src/diracx/cli/__init__.py
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-client/src/diracx/_client_importer.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/resources.py
  diracx-core/tests/test_entry_points.py
  diracx-core/tests/test_extensions.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-routers/src/diracx/routers/access_policies.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/test_policy.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

refactor: added missing EntryPointGroups call
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/extensions.py
  diracx-testing/src/diracx/testing/entrypoints.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix: misspelled group name and removed from client_importer
  diracx-client/src/diracx/_client_importer.py
  diracx-core/src/diracx/core/extensions.py
Due: check-lollygag

refactor: variable renames
  diracx-cli/src/diracx/cli/__init__.py
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/resources.py
  diracx-core/tests/test_entry_points.py
  diracx-core/tests/test_extensions.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-routers/src/diracx/routers/access_policies.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/test_policy.py
  diracx-testing/src/diracx/testing/entrypoints.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix: added a StrEnum for Entrypoints to avoid spelling mistakes (#744)
  diracx-cli/src/diracx/cli/__init__.py
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/resources.py
  diracx-core/tests/test_entry_points.py
  diracx-core/tests/test_extensions.py
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-routers/src/diracx/routers/access_policies.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/test_policy.py
  diracx-testing/src/diracx/testing/entrypoints.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

Refactor: Renaming access policy in toml
  diracx-routers/pyproject.toml
  extensions/gubbins/gubbins-routers/pyproject.toml
Due: none

Refactor: Update docs
  docs/dev/explanations/components/routes.md
Due: none

feat (Configuration): add documentation to CS attributes; sub_from_preferred_username uses cache (#696)
  diracx-core/src/diracx/core/config/schema.py
Due: check-lollygag

refactor: renaming access policy in toml (#745)
  diracx-routers/pyproject.toml
  docs/dev/explanations/components/routes.md
  extensions/gubbins/gubbins-routers/pyproject.toml
Due: none

feat: replace 'branch' by 'revision' in url query params
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/tests/test_config_source.py
Due: check-lollygag

test: fix test specifying specific branch
  diracx-core/tests/test_config_source.py
Due: check-lollygag

docs: env variable / settings documentation generator
  .env.example
  .gitignore
  .pre-commit-config.yaml
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
  docs/dev/reference/env-variables.md
  docs/dev/reference/env-variables.md.j2
  docs/dev/reference/pixi-tasks.md
  docs/templates/_render_class.jinja
  pixi.toml
  scripts/check_settings_doc.sh
  scripts/generate_settings_docs.py
Due: generate-pixi-docs

docs: settings doc
  .github/workflows/generate_pixi_tasks_doc.py
  .pre-commit-config.yaml
  diracx-core/src/diracx/core/settings.py
  docs/dev/reference/env-variables.md
  docs/dev/reference/pixi-tasks.md
  pixi.toml
  scripts/check_settings_doc.sh
Due: check-lollygag, generate-pixi-docs

fix: use separate tooling env for settings-doc
  .env.example
  .gitignore
  docs/admin/reference/env-variables.md
  pixi.toml
  scripts/generate_settings_docs.py
Due: generate-pixi-docs

fix: guard against potential import error
  diracx-core/src/diracx/core/models/__init__.py
Due: check-lollygag

docs: settings documentation using settings-doc markdown generator (#698)
  .github/workflows/generate_pixi_tasks_doc.py
  .gitignore
  .pre-commit-config.yaml
  diracx-core/src/diracx/core/settings.py
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
  docs/dev/reference/env-variables.md
  docs/dev/reference/env-variables.md.j2
  docs/dev/reference/pixi-tasks.md
  docs/templates/_render_class.jinja
  pixi.toml
  scripts/generate_settings_docs.py
Due: check-lollygag, generate-pixi-docs

Refactor: Change the DeclarativeBase sqlalchemy style
  diracx-db/src/diracx/db/sql/auth/schema.py
  diracx-db/src/diracx/db/sql/dummy/schema.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
  diracx-db/src/diracx/db/sql/job_logging/db.py
  diracx-db/src/diracx/db/sql/job_logging/schema.py
  diracx-db/src/diracx/db/sql/pilot_agents/schema.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
  diracx-db/src/diracx/db/sql/task_queue/schema.py
Due: check-lollygag

test: split test to avoid conditions
  diracx-core/tests/test_config_source.py
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
