Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

docs: update imports to use public diracx.tasks.depends module
  diracx-tasks/src/diracx/tasks/depends.py
  docs/dev/how-to/use-task-callbacks.md
  docs/dev/reference/dependency-injection.md
Due: check-lollygag

feat: enable ruff INP001 to catch missing __init__.py files
  diracx-cli/tests/legacy/__init__.py
  diracx-cli/tests/legacy/cs_sync/__init__.py
  diracx-db/tests/auth/__init__.py
  diracx-db/tests/jobs/__init__.py
  diracx-db/tests/opensearch/__init__.py
  diracx-db/tests/utils/__init__.py
  diracx-logic/tests/jobs/__init__.py
  diracx-routers/tests/auth/__init__.py
  diracx-routers/tests/health/__init__.py
  diracx-routers/tests/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  pyproject.toml
Due: check-lollygag

feat: add public diracx.tasks.depends module
  diracx-tasks/src/diracx/tasks/depends.py
Due: check-lollygag

test: verify all diracx entry points are loadable
  diracx-core/tests/test_entry_points.py
Due: check-lollygag

chore: Regenerate lock file
  pixi.lock
Due: generate-pixi-docs

fix: use relative filenames for prmon in subprocess CWD
  diracx-api/src/diracx/api/job_wrapper.py
Due: check-lollygag

fix: make prmon a hard requirement, not a graceful fallback
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/tests/test_job_wrapper_integration.py
Due: check-lollygag

feat: add task to clean sandbox store (#883)
  diracx-cli/tests/legacy/__init__.py
  diracx-cli/tests/legacy/cs_sync/__init__.py
  diracx-core/tests/test_entry_points.py
  diracx-db/tests/auth/__init__.py
  diracx-db/tests/jobs/__init__.py
  diracx-db/tests/opensearch/__init__.py
  diracx-db/tests/utils/__init__.py
  diracx-logic/tests/jobs/__init__.py
  diracx-routers/tests/auth/__init__.py
  diracx-routers/tests/health/__init__.py
  diracx-routers/tests/jobs/__init__.py
  diracx-tasks/pyproject.toml
  diracx-tasks/src/diracx/tasks/depends.py
  diracx-tasks/src/diracx/tasks/jobs/__init__.py
  diracx-tasks/src/diracx/tasks/jobs/clean_sandbox_store.py
  docs/dev/how-to/use-task-callbacks.md
  docs/dev/reference/dependency-injection.md
  pixi.lock
  pyproject.toml
Due: check-lollygag, generate-pixi-docs

chore(main): release 0.0.13
  CHANGELOG.md
Due: none

chore(main): release 0.0.13 (#876)
  CHANGELOG.md
Due: none

fix: remove deprecated tables and add FTS ResourceType
  diracx-core/src/diracx/core/models/rss.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
  diracx-db/tests/rss/test_rss_db.py
Due: check-lollygag

feat: add RSS data models (SQLAlchemy + Pydantic)
  diracx-core/src/diracx/core/models/rss.py
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/sql/rss/__init__.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
  diracx-db/tests/rss/test_rss_db.py
Due: check-lollygag

refactor: restructure to follow n-layer architecture
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/tests/test_rss.py
  diracx-db/src/diracx/db/sql/__init__.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/__init__.py
  diracx-logic/src/diracx/logic/rss/rss.py
Due: check-lollygag

chore: remove unnecessary comments
  diracx-db/src/diracx/db/sql/rss/schema.py
Due: check-lollygag

fix: change map_status and clean up schema
  diracx-core/src/diracx/core/models/rss.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
  diracx-db/tests/rss/__init__.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/query.py
  diracx-logic/tests/rss/__init__.py
  diracx-logic/tests/rss/test_rss.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

feat: add CWL executor with replica map and sandbox integration
  diracx-api/pyproject.toml
  diracx-api/src/diracx/api/cwl_utility.py
  diracx-api/src/diracx/api/executor/__init__.py
  diracx-api/src/diracx/api/executor/__main__.py
  diracx-api/src/diracx/api/executor/_mypyc_compat.py
  diracx-api/src/diracx/api/executor/executor.py
  diracx-api/src/diracx/api/executor/fs_access.py
  diracx-api/src/diracx/api/executor/pathmapper.py
  diracx-api/src/diracx/api/executor/tool.py
  diracx-api/src/diracx/api/job_report.py
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/tests/test_executor.py
  diracx-api/tests/test_executor_integration.py
  diracx-api/tests/test_fs_access.py
  diracx-api/tests/test_job_wrapper.py
  diracx-api/tests/test_job_wrapper_integration.py
  diracx-api/tests/test_job_wrapper_sandbox.py
  diracx-api/tests/test_no_cwltool_import.py
  diracx-cli/pyproject.toml
  diracx-core/src/diracx/core/models/cwl.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/replica_map.py
  diracx-core/tests/test_replica_map.py
  diracx-logic/tests/test_cwl_submission.py
Due: check-lollygag

feat: add CWL workflow submission endpoint and storage model
  diracx-api/src/diracx/api/cwl_utility.py
  diracx-api/src/diracx/api/job_report.py
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/src/diracx/api/jobs.py
  diracx-api/src/diracx/api/utils.py
  diracx-cli/src/diracx/cli/auth.py
  diracx-cli/src/diracx/cli/internal/job_wrapper.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/src/diracx/core/models/commands/__init__.py
  diracx-core/src/diracx/core/models/commands/core.py
  diracx-core/src/diracx/core/models/commands/store_output_data.py
  diracx-core/src/diracx/core/models/cwl.py
  diracx-core/src/diracx/core/models/cwl_submission.py
  diracx-db/src/diracx/db/sql/job/db.py
  diracx-db/src/diracx/db/sql/job/schema.py
  diracx-db/tests/jobs/test_workflow_db.py
  diracx-logic/pyproject.toml
  diracx-logic/src/diracx/logic/jobs/cwl_submission.py
  diracx-logic/tests/test_cwl_submission.py
  diracx-routers/src/diracx/routers/jobs/submission.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

feat: stream ApplicationStatus from cwltool stderr
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/tests/test_job_wrapper_integration.py
  diracx-cli/src/diracx/cli/_submission/simple.py
  diracx-cli/tests/test_submit_simple.py
Due: check-lollygag

feat: wire up parametric jobs and fix worker-side issues
  diracx-cli/src/diracx/cli/_submission/pipeline.py
  diracx-cli/src/diracx/cli/internal/job_wrapper.py
  diracx-core/src/diracx/core/config/schema.py
  diracx-logic/src/diracx/logic/jobs/cwl_submission.py
Due: check-lollygag

fix: sandbox upload/download and add sandbox CLI commands
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/tests/test_job_wrapper_integration.py
  diracx-api/tests/test_job_wrapper_sandbox.py
  diracx-cli/src/diracx/cli/_submission/pipeline.py
  diracx-cli/src/diracx/cli/_submission/sandbox.py
  diracx-cli/src/diracx/cli/internal/job_wrapper.py
  diracx-cli/src/diracx/cli/job/__init__.py
  diracx-cli/src/diracx/cli/job/sandbox.py
  diracx-cli/src/diracx/cli/job/submit/cmd.py
  diracx-cli/tests/test_submission_integration.py
  diracx-cli/tests/test_submission_sandbox.py
  diracx-cli/tests/test_submit_simple.py
  diracx-logic/src/diracx/logic/jobs/cwl_submission.py
Due: check-lollygag

feat: align dirac:Job hint with matcher specification
  diracx-core/src/diracx/core/models/cwl.py
  diracx-logic/src/diracx/logic/jobs/cwl_submission.py
  diracx-logic/tests/test_cwl_submission.py
Due: check-lollygag

feat: add job monitoring with prmon heartbeats and stall detection
  diracx-api/src/diracx/api/job_monitor.py
  diracx-api/src/diracx/api/job_report.py
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/tests/test_job_monitor.py
  diracx-api/tests/test_job_report.py
  diracx-api/tests/test_job_wrapper_integration.py
Due: check-lollygag

docs(job_wrapper): added TODOs for prmon compress output
  diracx-api/src/diracx/api/job_wrapper.py
Due: check-lollygag

fix: drop support for EdDSA keys
  diracx-core/src/diracx/core/settings.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

chore: update lockfile
  pixi.lock
Due: generate-pixi-docs

feat: add RSS data models (SQLAlchemy + Pydantic) (#857)
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/src/diracx/core/models/rss.py
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/sql/__init__.py
  diracx-db/src/diracx/db/sql/rss/__init__.py
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/src/diracx/db/sql/rss/schema.py
  diracx-db/tests/rss/__init__.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/__init__.py
  diracx-logic/src/diracx/logic/rss/query.py
  diracx-logic/tests/rss/__init__.py
  diracx-logic/tests/rss/test_rss.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

fix: drop support for EdDSA keys (#885)
  diracx-core/src/diracx/core/settings.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

feat: add OnlineCompressor for streaming prmon compression
  diracx-api/src/diracx/api/prmon_compress.py
  diracx-api/tests/test_prmon_compress.py
Due: check-lollygag

feat: add Docker image for tasks
  .github/workflows/deployment.yml
  .github/workflows/main.yml
Due: none

feat: add Docker image for tasks (#887)
  .github/workflows/deployment.yml
  .github/workflows/main.yml
Due: none

chore(main): release 0.0.14
  CHANGELOG.md
Due: none

chore(main): release 0.0.14 (#888)
  CHANGELOG.md
Due: none

chore: regenerate Helm diagram when updating the version
  .github/workflows/deployment.yml
Due: none

chore: regenerate Helm diagram when updating the version (#893)
  .github/workflows/deployment.yml
Due: none

feat: add documentation for diracx container deployment
  docs/admin/how-to/install/installing-in-a-container.md
  docs/admin/how-to/install/minimal-requirements.md
  docs/admin/how-to/install/prepare-container-node.md
  mkdocs.yml
Due: none

docs: reorganise container install into a separate nav section
  docs/admin/how-to/install-without-kubernetes/index.md
  docs/admin/how-to/install-without-kubernetes/installing-in-a-container.md
  docs/admin/how-to/install-without-kubernetes/minimal-requirements.md
  docs/admin/how-to/install-without-kubernetes/prepare-container-node.md
  mkdocs.yml
Due: none

feat: add PrmonFifoReader for FIFO-based prmon streaming
  diracx-api/src/diracx/api/prmon_reader.py
  diracx-api/tests/test_prmon_reader.py
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
