Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

default_language_version:
  python: python3

ci:
  skip: [generate-pixi-docs, settings-doc-check]

default_stages: [pre-commit]

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - sqlalchemy
          - types-PyYAML
          - types-cachetools
          - types-requests
          - types-python-dateutil
          - types-aiobotocore[essential]
          - boto3-stubs[essential]
        exclude: ^(diracx-client/src/diracx/client/_generated|diracx-[a-z]+/tests/|diracx-testing/|build|extensions/gubbins/gubbins-client/src/gubbins/client/_generated)

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--number"]
        exclude: ^CHANGELOG\.md$
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-gfm

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-w"]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==22.12.0

  - repo: local
    hooks:
      - id: check-lollygag
        name: check for lollygag
        types: [python]
        entry: "(?i)lollygag"
        language: pygrep
        files: ^diracx

  - repo: local
    hooks:
      - id: generate-pixi-docs
        name: Generate pixi tasks documentation
        entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
        language: system
        pass_filenames: false
        files: ^pixi\.toml$|^pixi\.lock$ # only run if pixi files change

  - repo: local
    hooks:
      - id: settings-doc-check
        name: Generate settings documentation
        entry: pixi run -e default python scripts/generate_settings_docs.py
        language: system
        pass_filenames: false
        files: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$

fix: removed EdDSA from test and documentation
  diracx-core/src/diracx/core/settings.py
  diracx-routers/tests/auth/test_standard.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

chore: updated joserfc minimum version
  diracx-core/pyproject.toml
Due: none

fix: removed comments
  diracx-routers/tests/auth/test_standard.py
Due: check-lollygag

fix: added examples for table extensions and fields mods
  docs/dev/explanations/extensions.md
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/schema.py
Due: none

fix: EdDSA to Ed25519 token migration (#786)
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_secrets.py
  diracx-logic/src/diracx/logic/__main__.py
  diracx-routers/tests/auth/test_standard.py
  diracx-testing/src/diracx/testing/utils.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

perf: use sargable range predicates for datetime search filters
  diracx-db/src/diracx/db/sql/utils/base.py
Due: check-lollygag

refactor: use enums for search operators and time resolution
  diracx-db/src/diracx/db/sql/utils/base.py
Due: check-lollygag

refactor: remove unused date_trunc and simplify elif chains
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/functions.py
Due: check-lollygag

perf: use sargable (Search ARGument ABLE) range predicates for datetime search filters (#809)
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-db/src/diracx/db/sql/utils/functions.py
Due: check-lollygag

fix: remove idx_assigned_lastaccesstime index from schema
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
Due: check-lollygag

fix: use cursor-based pagination for sandbox deletion queries
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: split workers across both deletion query types
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: simplify to single worker with parallel S3 deletions
  diracx-core/src/diracx/core/s3.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  diracx-logic/tests/jobs/test_sandboxes.py
Due: check-lollygag

fix: make S3 connection pool size configurable
  diracx-core/src/diracx/core/settings.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

fix: separate row selection from locking to avoid mass locking
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
Due: check-lollygag

fix: remove row locking from sandbox cleanup to avoid lock memory bloat
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: stop iterating when batch returns fewer than batch_size candidates
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: optimize sandbox cleaning query performance
  diracx-core/src/diracx/core/s3.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/schema.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: handle S3 partial delete failures and pass se_name directly
  diracx-core/src/diracx/core/s3.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: make sandbox cleaning parameters configurable via settings
  diracx-core/src/diracx/core/settings.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

fix: chunk DB deletes into 1000-row batches with concurrent execution
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

refactor: add per-phase timing to sandbox cleanup logging
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
Due: check-lollygag

fix: remove redundant default values from settings docstrings
  diracx-core/src/diracx/core/settings.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

fix: increase S3 connection pool to 50 for parallel bulk deletes
  diracx-core/src/diracx/core/settings.py
Due: check-lollygag, settings-doc-check

feat: replace container base images with pixi-managed environments
  .github/workflows/deployment.yml
  .github/workflows/main.yml
  .gitignore
  .pre-commit-config.yaml
  containers/client/Dockerfile
  containers/services/Dockerfile
  docs/dev/explanations/components/index.md
  extensions/containers/client/Dockerfile
  extensions/containers/services/Dockerfile
  extensions/gubbins/pixi.lock
  extensions/gubbins/pixi.toml
  pixi.lock
  pixi.toml
Due: generate-pixi-docs

fix: optimize sandbox cleaning performance (#796)
  diracx-core/src/diracx/core/s3.py
  diracx-core/src/diracx/core/settings.py
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-logic/src/diracx/logic/jobs/sandboxes.py
  diracx-logic/tests/jobs/test_sandboxes.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

chore(main): release 0.0.10
  CHANGELOG.md
Due: none

feat: add generic StateMachine base class for typed state transitions
  diracx-core/src/diracx/core/state_machine.py
  diracx-core/tests/test_state_machine.py
Due: check-lollygag

chore(main): release 0.0.10 (#805)
  CHANGELOG.md
Due: none

fix: added examples for table extensions and fields mod
  docs/dev/explanations/extensions.md
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/schema.py
Due: none

chore: added documentation for table extensions (#721)
  docs/dev/explanations/extensions.md
  extensions/gubbins/gubbins-db/src/gubbins/db/sql/jobs/schema.py
Due: none

refactor: Regenerate client with new autorest version
  diracx-client/src/diracx/client/_generated/__init__.py
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/_configuration.py
  diracx-client/src/diracx/client/_generated/_utils/__init__.py
  diracx-client/src/diracx/client/_generated/_utils/serialization.py
  diracx-client/src/diracx/client/_generated/_utils/utils.py
  diracx-client/src/diracx/client/_generated/aio/__init__.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/_configuration.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_enums.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/utils.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_enums.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

refactor: Strip autorest version comments from generated client files
  diracx-client/src/diracx/client/_generated/__init__.py
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/_configuration.py
  diracx-client/src/diracx/client/_generated/_serialization.py
  diracx-client/src/diracx/client/_generated/_utils/__init__.py
  diracx-client/src/diracx/client/_generated/_utils/serialization.py
  diracx-client/src/diracx/client/_generated/_utils/utils.py
  diracx-client/src/diracx/client/_generated/_vendor.py
  diracx-client/src/diracx/client/_generated/aio/__init__.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/_configuration.py
  diracx-client/src/diracx/client/_generated/aio/_vendor.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_enums.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-testing/src/diracx/testing/client_generation.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/utils.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_vendor.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_vendor.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_enums.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

refactor: Strip autorest version comments from generated client files (#821)
  diracx-client/src/diracx/client/_generated/__init__.py
  diracx-client/src/diracx/client/_generated/_client.py
  diracx-client/src/diracx/client/_generated/_configuration.py
  diracx-client/src/diracx/client/_generated/_serialization.py
  diracx-client/src/diracx/client/_generated/_utils/__init__.py
  diracx-client/src/diracx/client/_generated/_utils/serialization.py
  diracx-client/src/diracx/client/_generated/_utils/utils.py
  diracx-client/src/diracx/client/_generated/_vendor.py
  diracx-client/src/diracx/client/_generated/aio/__init__.py
  diracx-client/src/diracx/client/_generated/aio/_client.py
  diracx-client/src/diracx/client/_generated/aio/_configuration.py
  diracx-client/src/diracx/client/_generated/aio/_vendor.py
  diracx-client/src/diracx/client/_generated/aio/operations/__init__.py
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_enums.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/__init__.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-testing/src/diracx/testing/client_generation.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/serialization.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_utils/utils.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/_vendor.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_client.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_configuration.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/_vendor.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_enums.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/__init__.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

docs: document the release process
  docs/admin/how-to/install/register-a-vo.md
  docs/dev/explanations/extensions.md
  docs/dev/how-to/make-a-release.md
  docs/dev/reference/making-releases.md
  mkdocs.yml
Due: none

ci: skip CI workflows for documentation-only changes
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
Due: none

chore: added numeric values validation in API
  diracx-routers/src/diracx/routers/jobs/query.py
Due: check-lollygag

chore: updated tests
  diracx-routers/tests/jobs/test_query.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/models/__init__.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
Due: check-lollygag

fix: fixed exception handling
  diracx-routers/src/diracx/routers/jobs/query.py
  diracx-routers/tests/jobs/test_query.py
Due: check-lollygag
