Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

chore(main): release 0.4.1
  CHANGELOG.md
Due: none

chore(main): release 0.4.1 (#1031)
  CHANGELOG.md
Due: none

fix(pre-commit): exclude markdown from ruff-format
  .pre-commit-config.yaml
Due: none

fix(db): raise exception instead of warning for missing DB URLs
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
Due: check-lollygag

docs: add Google-style docs to diracx-cli and remove D100-D300 from per-file-ignores for it (#1033)
  .pre-commit-config.yaml
  diracx-cli/src/diracx/cli/__main__.py
  diracx-cli/src/diracx/cli/auth.py
  diracx-cli/src/diracx/cli/config.py
  diracx-cli/src/diracx/cli/internal/config.py
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-cli/src/diracx/cli/jobs.py
  diracx-cli/src/diracx/cli/utils.py
  diracx-routers/tests/health/test_probes.py
  pyproject.toml
Due: check-lollygag

fix: put back conftest to ensure that diracx-db/tests/utils/test_utils.py pass
  diracx-db/tests/conftest.py
Due: check-lollygag

feat: render the ADRs as printable PDFs
  .gitignore
  docs/dev/reference/pixi-tasks.md
  pixi.lock
  pixi.toml
  scripts/adr_pdf/diagram.html
  scripts/adr_pdf/links.lua
  scripts/adr_pdf/preamble.tex
  scripts/generate_adr_pdf.py
  scripts/generate_pixi_tasks_doc.py
Due: generate-pixi-docs

feat: render the ADRs as printable PDFs (#1038)
  .gitignore
  docs/dev/reference/pixi-tasks.md
  pixi.lock
  pixi.toml
  scripts/adr_pdf/diagram.html
  scripts/adr_pdf/links.lua
  scripts/adr_pdf/preamble.tex
  scripts/generate_adr_pdf.py
  scripts/generate_pixi_tasks_doc.py
Due: generate-pixi-docs

fix(pre-commit): exclude markdown from ruff-format (#1035)
  .pre-commit-config.yaml
Due: none

fix(db,routers): improve DB URLs error handling
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-routers/src/diracx/routers/factory.py
Due: check-lollygag

fix: move timestamp outside of for loop
  diracx-db/src/diracx/db/os/job_parameters.py
Due: check-lollygag

fix: wwitch from upsert to bulk_upsert API for job parameters doc submissions
  diracx-logic/src/diracx/logic/jobs/status.py
Due: check-lollygag

fix: move diracx.testing.mock_osdb to pyproject.toml
  diracx-db/tests/conftest.py
  pyproject.toml
Due: check-lollygag

feat: support global OS prefix
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/settings.py
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_index_template.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-testing/src/diracx/testing/dummy_osdb.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  diracx-testing/src/diracx/testing/osdb.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

build: wire the docs site and its tooling for the workgraph simulator
  .github/workflows/main.yml
  .pre-commit-config.yaml
  docs/dev/reference/pixi-tasks.md
  mkdocs.yml
  pixi.lock
  pixi.toml
  pyproject.toml
Due: generate-pixi-docs

test: add the workgraph simulator test suite
  tests/workgraph-sim/controls.test.js
  tests/workgraph-sim/cwl.test.js
  tests/workgraph-sim/docs.test.js
  tests/workgraph-sim/elk-shim.js
  tests/workgraph-sim/engine.test.js
  tests/workgraph-sim/features.test.js
  tests/workgraph-sim/fixtures/analysis-production-list-form.cwl
  tests/workgraph-sim/fixtures/error-ambiguous-driving-input.cwl
  tests/workgraph-sim/fixtures/error-bare-step.cwl
  tests/workgraph-sim/fixtures/error-cycle.cwl
  tests/workgraph-sim/fixtures/error-driving-input.cwl
  tests/workgraph-sim/fixtures/error-no-driving-input.cwl
  tests/workgraph-sim/fixtures/error-no-workgraph-hint.cwl
  tests/workgraph-sim/fixtures/error-orphan-output.cwl
  tests/workgraph-sim/fixtures/error-unknown-files.cwl
  tests/workgraph-sim/fixtures/error-unknown-source.cwl
  tests/workgraph-sim/fixtures/error-wrong-class.cwl
  tests/workgraph-sim/fixtures/good.cwl
  tests/workgraph-sim/fixtures/warn-expression-tool.cwl
  tests/workgraph-sim/fixtures/warn-scatter.cwl
  tests/workgraph-sim/fixtures/warn-when.cwl
  tests/workgraph-sim/harness.js
  tests/workgraph-sim/help.test.js
  tests/workgraph-sim/invariants.test.js
  tests/workgraph-sim/run.js
  tests/workgraph-sim/run.sh
  tests/workgraph-sim/summary.js
Due: none

docs: add the data management and journalled counters ADRs
  docs/adr/DX-ADR-003_compute_backends.md
  docs/adr/DX-ADR-004_schema.md
  docs/adr/DX-ADR-006_extensions.md
  docs/adr/DX-ADR-008_data_management.md
  docs/adr/DX-ADR-009_counters.md
Due: none

docs: add the CWL playground
  docs/assets/css/playground.css
  docs/assets/examples/analysis-production.cwl
  docs/assets/examples/histograms.cwl
  docs/assets/examples/joining.cwl
  docs/assets/examples/mc-simulation.cwl
  docs/assets/examples/rdst-stripping.cwl
  docs/assets/examples/simulation-scouted.cwl
  docs/assets/examples/simulation.cwl
  docs/assets/examples/sprucing.cwl
  docs/assets/js/playground.js
  docs/assets/js/workgraph-cwl.js
  docs/overrides/playground.html
  docs/playground.md
  docs/schemas/dirac-1.0.json
Due: none

docs: add the workgraph simulator
  docs/assets/css/workgraph-sim.css
  docs/assets/js/workgraph-sim-engine.js
  docs/assets/js/workgraph-sim.js
  docs/dev/reference/index.md
  docs/dev/reference/workgraph-sim.md
  hooks/elkjs.py
Due: none

docs: add the workflow how-to guides
  docs/user/explanations/transformation-system.md
  docs/user/how-to/workflows/ancestry.md
  docs/user/how-to/workflows/artifacts.md
  docs/user/how-to/workflows/data-processing.md
  docs/user/how-to/workflows/index.md
  docs/user/how-to/workflows/joining.md
  docs/user/how-to/workflows/removal.md
  docs/user/how-to/workflows/replication.md
  docs/user/how-to/workflows/scouting.md
  docs/user/how-to/workflows/simulation.md
  docs/user/how-to/workflows/splitting.md
  docs/user/index.md
  docs/user/reference/programmatic-usage/command-line-interface.md
  docs/user/reference/programmatic-usage/https-interface.md
  docs/user/reference/programmatic-usage/index.md
  docs/user/reference/programmatic-usage/python-interface.md
Due: none

docs: add the Transformation System ADRs
  docs/adr/DX-ADR-001_tasks.md
  docs/adr/DX-ADR-002_overview.md
  docs/adr/DX-ADR-003_compute_backends.md
  docs/adr/DX-ADR-004_schema.md
  docs/adr/DX-ADR-005_state_machines.md
  docs/adr/DX-ADR-006_extensions.md
  docs/adr/DX-ADR-007_cwl.md
  docs/adr/DX-ADR-008_data_management.md
  docs/adr/DX-ADR-009_counters.md
  docs/adr/DX-ADR-XXX_template.md
  docs/adr/examples.md
  docs/adr/index.md
  schema-benchmarks.md
Due: none

feat: support global OS prefix (#922)
  diracx-cli/src/diracx/cli/internal/legacy.py
  diracx-core/src/diracx/core/settings.py
  diracx-db/pyproject.toml
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/opensearch/test_index_template.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-tasks/src/diracx/tasks/plumbing/factory.py
  diracx-testing/src/diracx/testing/dummy_osdb.py
  diracx-testing/src/diracx/testing/mock_osdb.py
  diracx-testing/src/diracx/testing/osdb.py
  docs/admin/reference/env-variables.md
Due: check-lollygag, settings-doc-check

chore(main): release 0.5.0
  CHANGELOG.md
Due: none

chore: remove sqlalchemy.ext.mypy.plugin from pyproject
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-db/src/diracx/db/sql/task_queue/db.py
  extensions/gubbins/pyproject.toml
  pyproject.toml
Due: check-lollygag

feat(tasks): allow tasks to set their own result TTL
  diracx-tasks/src/diracx/tasks/plumbing/base_task.py
  diracx-tasks/src/diracx/tasks/plumbing/broker/result_backend.py
  diracx-tasks/src/diracx/tasks/plumbing/worker/worker.py
  diracx-tasks/tests/test_result_backend.py
  docs/dev/how-to/add-a-task.md
Due: check-lollygag

chore: remove sqlalchemy.ext.mypy.plugin from pyproject (#1049)
  diracx-db/src/diracx/db/sql/sandbox_metadata/db.py
  diracx-db/src/diracx/db/sql/task_queue/db.py
  extensions/gubbins/pyproject.toml
  pyproject.toml
Due: check-lollygag

fix: remove JobType and JobStatus from JobParameters
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-core/src/diracx/core/models/job.py
  diracx-db/src/diracx/db/os/job_parameters.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/tests/jobs/test_status.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

fix: remove JobType and JobStatus from JobParameters (#1050)
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-core/src/diracx/core/models/job.py
  diracx-db/src/diracx/db/os/job_parameters.py
  diracx-logic/src/diracx/logic/jobs/status.py
  diracx-logic/tests/jobs/test_status.py
  diracx-routers/src/diracx/routers/jobs/status.py
  diracx-tasks/src/diracx/tasks/jobs/dummy_job_executor.py
  diracx-tasks/tests/test_dummy_job_executor.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

docs: add Google-style docs to diracx-core and remove D100-D300 from per-file-ignores for it
  diracx-core/src/diracx/core/config/schema.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/exceptions.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/models/auth.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-core/src/diracx/core/models/replica_map.py
  diracx-core/src/diracx/core/models/rss.py
  diracx-core/src/diracx/core/models/sandbox.py
  diracx-core/src/diracx/core/models/search.py
  diracx-core/src/diracx/core/models/types.py
  diracx-core/src/diracx/core/preferences.py
  diracx-core/src/diracx/core/properties.py
  diracx-core/src/diracx/core/resources.py
  diracx-core/src/diracx/core/s3.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/src/diracx/core/sources.py
  diracx-core/src/diracx/core/utils.py
  pyproject.toml
Due: check-lollygag, settings-doc-check

docs: add md files modification by settings-doc-check
  docs/admin/reference/env-variables.md
  docs/dev/reference/env-variables.md
Due: none

docs: add _enums and _models generated files - only documentation is modified
  diracx-client/src/diracx/client/_generated/models/_enums.py
  diracx-client/src/diracx/client/_generated/models/_models.py
Due: check-lollygag

docs: add _enums and _models generated gubbins files - only documentation is modified
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_enums.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: none

fix(api): add bulk_upsert method and unit tests for opensearch BaseOSDB class
  diracx-db/src/diracx/db/os/utils.py
  diracx-db/tests/utils/test_utils.py
Due: check-lollygag

fix(api): adjust failed unit tests
  diracx-db/tests/utils/test_utils.py
Due: check-lollygag

fix: reuse DummyOSDB from diracx.testing
  diracx-db/tests/utils/test_utils.py
Due: check-lollygag

fix: add bulk_upsert into job_parameters
  diracx-db/src/diracx/db/os/job_parameters.py
Due: check-lollygag

refactor: put back mock_client into appropriate tests
  diracx-db/tests/utils/test_utils.py
  diracx-logic/tests/jobs/test_status.py
  diracx-testing/src/diracx/testing/mock_osdb.py
Due: check-lollygag

refactor: move common mock_client to diracx-testing and use it as needed
  diracx-db/tests/utils/test_utils.py
  diracx-logic/tests/jobs/test_status.py
  diracx-testing/src/diracx/testing/mock_osdb.py
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
