Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

default_language_version:
  python: python3

ci:
  skip: [generate-pixi-docs, settings-doc-check]

default_stages: [pre-commit]

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.0"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - sqlalchemy
          - types-PyYAML
          - types-cachetools
          - types-requests
          - types-python-dateutil
          - types-aiobotocore[essential]
          - boto3-stubs[essential]
        exclude: ^(diracx-client/src/diracx/client/_generated|diracx-[a-z]+/tests/|diracx-testing/|build|extensions/gubbins/gubbins-client/src/gubbins/client/_generated)

  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--number"]
        exclude: ^CHANGELOG\.md$
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-gfm

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-w"]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==22.12.0

  - repo: local
    hooks:
      - id: check-lollygag
        name: check for lollygag
        types: [python]
        entry: "(?i)lollygag"
        language: pygrep
        files: ^diracx

  - repo: local
    hooks:
      - id: generate-pixi-docs
        name: Generate pixi tasks documentation
        entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
        language: system
        pass_filenames: false
        files: ^pixi\.toml$|^pixi\.lock$ # only run if pixi files change

  - repo: local
    hooks:
      - id: settings-doc-check
        name: Generate settings documentation
        entry: pixi run -e default python scripts/generate_settings_docs.py
        language: system
        pass_filenames: false
        files: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$

chore: limit setuptools to <82.0 in order for opentelemetry to load pkg_resources
  extensions/gubbins/gubbins-client/pyproject.toml
  extensions/gubbins/pixi.toml
  pixi.toml
Due: generate-pixi-docs

Apply suggestions from code review
  extensions/gubbins/gubbins-client/pyproject.toml
Due: none

chore: limit setuptools to <82.0 in order for opentelemetry to load p… (#844)
  extensions/gubbins/pixi.toml
  pixi.toml
Due: generate-pixi-docs

chore(main): release 0.0.11
  CHANGELOG.md
Due: none

fix: Force importlib-metadata = "<8.8.0" due to https://pixi.sh/latest/concepts/conda_pypi/#pinned-package-conflicts
  pixi.toml
Due: generate-pixi-docs

chore: pin opentelemetry versions
  diracx-routers/pyproject.toml
Due: none

Revert "chore: limit setuptools to <82.0 in order for opentelemetry to load p… (#844)"
  extensions/gubbins/pixi.toml
  pixi.toml
Due: generate-pixi-docs

ci: enforce conventional commit format for PR titles
  .github/workflows/pr-title.yml
Due: none

Update .github/workflows/pr-title.yml
  .github/workflows/pr-title.yml
Due: none

ci: enforce conventional commit format for PR titles (#848)
  .github/workflows/pr-title.yml
Due: none

chore(main): release 0.0.11 (#840)
  CHANGELOG.md
Due: none

fix: minor fixes to the release process
  docs/dev/explanations/extensions.md
  docs/dev/how-to/make-a-release.md
Due: none

fix: default formater for otel
  diracx-routers/src/diracx/routers/otel.py
Due: check-lollygag

refactor: make CacheableSource generic
  diracx-core/src/diracx/core/config/sources.py
Due: check-lollygag

refactor: add CacheableSource class
  diracx-core/src/diracx/core/config/sources.py
Due: check-lollygag

docs: add CacheableSource class dosctstring
  diracx-core/src/diracx/core/config/sources.py
Due: check-lollygag

refactor: extract CacheableSource class (#850)
  diracx-core/src/diracx/core/config/sources.py
Due: check-lollygag

ci: pin GitHub Actions by SHA digest via Renovate
  renovate.json
Due: none

ci: pin GitHub Actions by SHA digest via Renovate (#853)
  renovate.json
Due: none

docs: remove duplicate documentation
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
Due: settings-doc-check

docs: move bits around
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
Due: settings-doc-check

fix: remove a change in pixi.toml
  pixi.toml
Due: generate-pixi-docs

docs: add settings documentation to otel.py and dynamic env variables and generate documentation
  .pre-commit-config.yaml
  diracx-routers/src/diracx/routers/otel.py
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
  pixi.toml
Due: check-lollygag, generate-pixi-docs, settings-doc-check

docs: add settings documentation to otel.py and generate documentation. Fixes #751 (#817)
  .pre-commit-config.yaml
  diracx-routers/src/diracx/routers/otel.py
  docs/admin/reference/env-variables.md
  docs/admin/reference/env-variables.md.j2
Due: check-lollygag, settings-doc-check

refactor: rename read_config() to read()
  diracx-cli/src/diracx/cli/internal/config.py
  diracx-cli/tests/test_internal.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/health/test_probes.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

chore: importlib-metadata should be constrained on diracx-routers
  diracx-routers/pyproject.toml
Due: none

fix: Force importlib-metadata = "<8.8.0" due to https://pixi.sh/latest/concepts/conda_pypi/#pinned-package-conflicts
  extensions/gubbins/pixi.toml
  pixi.toml
Due: generate-pixi-docs

fix: enable OTel log record injection to avoid KeyError with sdk >=1.28.0
  diracx-routers/src/diracx/routers/otel.py
Due: check-lollygag

chore: replace container base images with pixi-managed environments
  .dockerignore
  .github/workflows/deployment.yml
  .github/workflows/main.yml
  .gitignore
  .pre-commit-config.yaml
  containers/Dockerfile
  containers/client/Dockerfile
  containers/entrypoint.sh
  containers/services/Dockerfile
  docs/dev/explanations/components/index.md
  docs/dev/explanations/extensions.md
  extensions/containers/client/Dockerfile
  extensions/containers/services/Dockerfile
  extensions/gubbins-charts/Chart.yaml
  extensions/gubbins-charts/values.yaml
  extensions/gubbins/.dockerignore
  extensions/gubbins/containers/Dockerfile
  extensions/gubbins/pixi.toml
  pixi.lock
  pixi.toml
Due: generate-pixi-docs

ci: Simplify running legacy DIRAC integration tests
  .github/workflows/integration.yml
  .github/workflows/main.yml
  containers/Dockerfile
  containers/entrypoint.sh
  extensions/gubbins/containers/Dockerfile
Due: none

test: correct verify_entry_points to handle extensions and duplicate names
  diracx-testing/src/diracx/testing/entrypoints.py
Due: check-lollygag

fix: Fixed a micro typo
  diracx-logic/src/diracx/logic/pilots/management.py
Due: check-lollygag

fix: Add more security to the pilot creation router
  diracx-routers/src/diracx/routers/pilots/management.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/aio/operations/_patch.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-client/src/diracx/client/_generated/operations/_patch.py
  diracx-client/src/diracx/client/patches/pilots/common.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/pilot.py
  diracx-core/src/diracx/core/models/search.py
  diracx-db/src/diracx/db/sql/dummy/db.py
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-db/tests/pilots/test_pilot_management.py
  diracx-db/tests/pilots/test_query.py
  diracx-db/tests/pilots/utils.py
  diracx-logic/src/diracx/logic/pilots/management.py
  diracx-logic/src/diracx/logic/pilots/query.py
  diracx-routers/src/diracx/routers/pilots/access_policies.py
  diracx-routers/src/diracx/routers/pilots/management.py
  diracx-routers/src/diracx/routers/pilots/query.py
  diracx-routers/tests/pilots/test_pilot_creation.py
  diracx-routers/tests/pilots/test_query.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/aio/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag

docs: update release docs
  docs/dev/reference/making-releases.md
Due: none

chore: regenerate client
  diracx-client/src/diracx/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

fix: added __all__
  diracx-db/src/diracx/db/sql/pilots/db.py
Due: check-lollygag

fix: added query validation
  diracx-routers/src/diracx/routers/pilots/query.py
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/operations/_operations.py
Due: check-lollygag
