Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

refactor: update JobMonitor and send_final_heartbeat to use PrmonFifoReader
  diracx-api/src/diracx/api/job_monitor.py
  diracx-api/tests/test_job_monitor.py
Due: check-lollygag

test: add test for send_final_heartbeat with reader but no data
  diracx-api/tests/test_job_monitor.py
Due: check-lollygag

feat: use FIFO streaming for prmon with 1s sampling and --fast-memmon
  diracx-api/src/diracx/api/job_wrapper.py
Due: check-lollygag

fix: serialize HeartbeatData before sending to API
  diracx-api/src/diracx/api/job_report.py
Due: check-lollygag

fix: use location for CWL File URIs per CWL v1.2 spec
  diracx-api/tests/test_job_wrapper_integration.py
  diracx-cli/src/diracx/cli/_submission/inputs.py
  diracx-cli/src/diracx/cli/_submission/pipeline.py
  diracx-cli/src/diracx/cli/_submission/sandbox.py
  diracx-cli/tests/test_submission_integration.py
  diracx-cli/tests/test_submission_sandbox.py
  diracx-logic/src/diracx/logic/jobs/cwl_submission.py
  diracx-logic/tests/test_cwl_submission.py
Due: check-lollygag

test: add PathMapper target assertions for location-to-path resolution
  diracx-cli/tests/test_executor.py
Due: check-lollygag

fix: check location before path on cwl_utils File objects
  diracx-api/src/diracx/api/job_wrapper.py
Due: check-lollygag

docs: better structure when adding the diracx in a container documentation
  docs/admin/how-to/install-without-kubernetes/index.md
  docs/admin/how-to/install-without-kubernetes/installing-in-a-container.md
  docs/admin/how-to/install-without-kubernetes/minimal-requirements.md
  docs/admin/how-to/install-without-kubernetes/prepare-container-node.md
  docs/admin/how-to/install/index.md
  docs/admin/how-to/install/installing-in.md
  mkdocs.yml
Due: none

chore: enable renovate update of pixi.lock file
  renovate.json
Due: none

chore: enable renovate update of pixi.lock file (#897)
  renovate.json
Due: none

refactor: apply_* take table instead of column mapping
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-testing/src/diracx/testing/mock_osdb.py
Due: check-lollygag

refactor: apply_* take table instead of column mapping (#900)
  diracx-db/src/diracx/db/sql/utils/base.py
  diracx-testing/src/diracx/testing/mock_osdb.py
Due: check-lollygag

chore: drop boto for signurlarity
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/s3.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_s3.py
  diracx-logic/tests/jobs/test_sandboxes.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs, settings-doc-check

chore: actually remove boto dependencies
  .pre-commit-config.yaml
  diracx-core/pyproject.toml
  extensions/gubbins/gubbins-logic/pyproject.toml
  extensions/gubbins/gubbins-routers/pyproject.toml
Due: none

fix: replace UPGRADE_REQUIRED with PRECONDITION_FAILED
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/test_generic.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/aio/operations/_operations.py
  diracx-client/src/diracx/client/_generated/aio/operations/_patch.py
  diracx-client/src/diracx/client/_generated/models/_models.py
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-client/src/diracx/client/_generated/operations/_patch.py
  diracx-core/src/diracx/core/models/job.py
  diracx-core/src/diracx/core/models/search.py
  diracx-db/src/diracx/db/sql/dummy/db.py
  diracx-db/src/diracx/db/sql/pilots/db.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/src/diracx/db/sql/utils/__init__.py
  diracx-routers/src/diracx/routers/pilots/access_policies.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/models/_models.py
  extensions/gubbins/gubbins-client/src/gubbins/client/_generated/models/_models.py
Due: check-lollygag

fix: Fixed a micro typo
  diracx-logic/src/diracx/logic/pilots/management.py
Due: check-lollygag

fix: added __all__
  diracx-db/src/diracx/db/sql/pilots/db.py
Due: check-lollygag

chore: regenerate client
  diracx-client/src/diracx/client/_generated/operations/_operations.py
  diracx-db/src/diracx/db/sql/pilots/schema.py
  diracx-db/tests/pilots/test_query.py
  diracx-db/tests/pilots/utils.py
  diracx-logic/src/diracx/logic/pilots/query.py
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag

fix: Add more security to the pilot creation router
  diracx-routers/src/diracx/routers/pilots/management.py
Due: check-lollygag

fix: added query validation
  diracx-routers/src/diracx/routers/pilots/query.py
  diracx-routers/tests/pilots/test_query.py
Due: check-lollygag

test: get the s3 object using presigned url
  diracx-core/tests/test_s3.py
  pixi.lock
Due: check-lollygag, generate-pixi-docs

test: fix signurlarity exception match
  diracx-logic/tests/jobs/test_sandboxes.py
Due: check-lollygag

fix: replace PRECONDITION_FAILED with BAD_REQUEST
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/test_generic.py
Due: check-lollygag

fix: stop using UPGRADE_REQUIRED for client version check (#902)
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/test_generic.py
Due: check-lollygag

fix: correct OTEL settings
  diracx-routers/src/diracx/routers/otel.py
Due: check-lollygag

feat: add some logging in the task scheduler to keep track of its activity
  diracx-tasks/src/diracx/tasks/plumbing/scheduler/scheduler.py
Due: check-lollygag

fix: correct the settings for OTEL and add logging in the scheduler (#904)
  diracx-routers/src/diracx/routers/otel.py
  diracx-tasks/src/diracx/tasks/plumbing/scheduler/scheduler.py
Due: check-lollygag

test: fix minio tests using signurlarity
  diracx-core/tests/test_s3.py
Due: check-lollygag

fix(executor): restore CommandLineTool subclass dispatch under mypyc cwltool
  diracx-cli/src/diracx/cli/executor/_mypyc_compat.py
  diracx-cli/src/diracx/cli/executor/tool.py
  diracx-cli/tests/test_executor.py
  diracx-cli/tests/test_no_cwltool_import.py
Due: check-lollygag

chore: rename CWL runner CLI from dirac-cwl-run to dirac-cwl-runner
  diracx-api/src/diracx/api/job_wrapper.py
  diracx-api/tests/test_job_wrapper.py
  diracx-api/tests/test_job_wrapper_integration.py
  diracx-cli/pyproject.toml
  diracx-cli/src/diracx/cli/executor/__main__.py
  diracx-cli/src/diracx/cli/executor/executor.py
  diracx-cli/src/diracx/cli/executor/pathmapper.py
  diracx-cli/tests/test_executor_integration.py
Due: check-lollygag

chore(main): release 0.0.15
  CHANGELOG.md
Due: none

fix: handle device flow errors
  diracx-logic/src/diracx/logic/auth/utils.py
  diracx-routers/src/diracx/routers/auth/device_flow.py
Due: check-lollygag

test: add unit tests
  diracx-routers/tests/auth/test_standard.py
Due: check-lollygag

fix: Revert wrongly imported router from diracx
  extensions/gubbins/gubbins-routers/src/gubbins/routers/well_known.py
Due: none

feat: add conftest to diracx
  conftest.py
Due: none

chore: remove diracx/routers/__init__.py imports
  diracx-routers/src/diracx/routers/__init__.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-routers/tests/test_generic.py
  diracx-testing/src/diracx/testing/routers.py
  diracx-testing/src/diracx/testing/utils.py
  run_local.sh
Due: check-lollygag

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
