Repository DIRACGrid/diracx: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-lollygag, generate-pixi-docs, settings-doc-check

check-lollygag:
  name: check for lollygag
  entry: (?i)lollygag
  language: pygrep

generate-pixi-docs:
  name: Generate pixi tasks documentation
  entry: pixi run -e default python .github/workflows/generate_pixi_tasks_doc.py
  language: system
  pass_filenames: false

settings-doc-check:
  name: Generate settings documentation
  entry: pixi run -e default python scripts/generate_settings_docs.py
  language: system
  pass_filenames: false

fix: avoid httpx2 verify=<str> deprecation in client patches
  diracx-client/src/diracx/client/patches/client/common.py
  diracx-client/src/diracx/client/patches/utils.py
  diracx-core/src/diracx/core/utils.py
Due: check-lollygag

refactor: drop unused DiracClientMixin from client patches
  diracx-client/src/diracx/client/patches/utils.py
Due: check-lollygag

refactor: consolidate client auth patches into one module
  diracx-client/src/diracx/client/patches/client/aio.py
  diracx-client/src/diracx/client/patches/client/common.py
  diracx-client/src/diracx/client/patches/client/sync.py
  diracx-client/src/diracx/client/patches/utils.py
  diracx-client/tests/test_auth.py
Due: check-lollygag

test: use freezegun for auth token expiry
  diracx-routers/tests/auth/test_standard.py
Due: check-lollygag

fix: moved enrich_token to add policy in DB
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-routers/src/diracx/routers/access_policies.py
  diracx-routers/src/diracx/routers/auth/token.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix: added policies to RefreshToken DB
  diracx-db/src/diracx/db/sql/auth/db.py
  diracx-db/src/diracx/db/sql/auth/schema.py
  diracx-db/tests/auth/test_refresh_token.py
  diracx-logic/src/diracx/logic/auth/token.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix: removed indexing from Policy DB column
  diracx-db/src/diracx/db/sql/auth/schema.py
Due: check-lollygag

fix: removed test logging
  diracx-routers/src/diracx/routers/auth/token.py
Due: check-lollygag

test: use freezegun for auth token expiry (#953)
  diracx-routers/tests/auth/test_standard.py
Due: check-lollygag

test: get the s3 object using presigned url
  diracx-core/tests/test_s3.py
Due: check-lollygag

chore: actually remove boto dependencies
  .pre-commit-config.yaml
  diracx-core/pyproject.toml
  extensions/gubbins/gubbins-logic/pyproject.toml
  extensions/gubbins/gubbins-routers/pyproject.toml
Due: none

test: fix signurlarity exception match
  diracx-logic/tests/jobs/test_sandboxes.py
Due: check-lollygag

chore: drop boto for signurlarity
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/s3.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_s3.py
  diracx-logic/tests/jobs/test_sandboxes.py
Due: check-lollygag, settings-doc-check

test: fix minio tests using signurlarity
  diracx-core/tests/test_s3.py
Due: check-lollygag

build: update signurlarity version with delete_bucket feature
  diracx-core/pyproject.toml
Due: none

fix: handle PresignError 404
  diracx-core/src/diracx/core/s3.py
Due: check-lollygag

refactor: remove unused generate_presigned_download
  diracx-core/src/diracx/core/s3.py
Due: check-lollygag

build: diracx-client depends on azure-core[aio]
  diracx-client/pyproject.toml
Due: none

fix: catch generic signurlarity error
  diracx-core/src/diracx/core/settings.py
Due: check-lollygag, settings-doc-check

chore: update pixi lock after rebase
  pixi.lock
Due: generate-pixi-docs

build: update signurlarity to v0.3.1
  diracx-core/pyproject.toml
Due: none

fix: retry delete chunk on PresignError
  diracx-core/src/diracx/core/s3.py
Due: check-lollygag

refactor: avoid duplicating list objects contents
  diracx-core/tests/test_s3.py
Due: check-lollygag

fix: restore max pool connections
  diracx-core/src/diracx/core/settings.py
Due: check-lollygag, settings-doc-check

fix: remove redondant import
  diracx-core/src/diracx/core/settings.py
Due: check-lollygag, settings-doc-check

fix: use signurlarity NoSuchKeyError exception and httpx2
  diracx-core/src/diracx/core/s3.py
  diracx-core/tests/test_s3.py
  diracx-logic/tests/jobs/test_sandboxes.py
Due: check-lollygag

chore: restore pixi.lock from upstream/main and re-lock
  pixi.lock
Due: generate-pixi-docs

feat(db): bulk all-VO read queries for ResourceStatusDB
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/query.py
  diracx-logic/tests/rss/test_rss_query.py
Due: check-lollygag

fix(rss): scope bulk resource queries by element_type
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/query.py
  diracx-logic/tests/rss/test_rss_query.py
Due: check-lollygag

chore: drop boto for signurlarity (#901)
  .pre-commit-config.yaml
  diracx-client/pyproject.toml
  diracx-core/pyproject.toml
  diracx-core/src/diracx/core/s3.py
  diracx-core/src/diracx/core/settings.py
  diracx-core/tests/test_s3.py
  diracx-logic/tests/jobs/test_sandboxes.py
  extensions/gubbins/gubbins-logic/pyproject.toml
  extensions/gubbins/gubbins-routers/pyproject.toml
  pixi.lock
Due: check-lollygag, generate-pixi-docs, settings-doc-check

ci: attest build provenance for released artifacts
  .github/workflows/deployment.yml
Due: none

chore(pixi): add exclude-newer cooldown and require pixi >=0.68.0
  pixi.toml
Due: generate-pixi-docs

refactor(core): move CacheableSource into diracx.core.sources
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/sources.py
Due: check-lollygag

feat(core): add AsyncCacheableSource and cacheable-source wiring
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/sources.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

feat(db): bulk all-VO read queries for ResourceStatusDB (#939)
  diracx-db/src/diracx/db/sql/rss/db.py
  diracx-db/tests/rss/test_rss_db.py
  diracx-logic/src/diracx/logic/rss/query.py
  diracx-logic/tests/rss/test_rss.py
  diracx-logic/tests/rss/test_rss_query.py
Due: check-lollygag

chore: supply chain security improvements (#954)
  .github/workflows/deployment.yml
  pixi.toml
Due: generate-pixi-docs

feat(core): add AsyncCacheableSource and cacheable-source wiring (#938)
  diracx-core/src/diracx/core/config/__init__.py
  diracx-core/src/diracx/core/config/sources.py
  diracx-core/src/diracx/core/extensions.py
  diracx-core/src/diracx/core/sources.py
  diracx-routers/src/diracx/routers/factory.py
  diracx-testing/src/diracx/testing/utils.py
Due: check-lollygag

fix: unless needed for git operations, actions/checkout should be used with persist-credentials: false
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
  .github/workflows/update_security_txt_expiry.yml
  .github/workflows/vulnerabilities.yml
Due: none

fix: workflows should almost always set permissions: {} at the workflow level to disable all permissions by default, and then set specific job-level permissions as needed
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/main.yml
  .github/workflows/record-changes-requested.yml
Due: none

fix: dangerous-triggers shouldn't be a danger for us for now.
  .github/workflows/draft-on-changes-requested.yml
  .github/workflows/pr-title.yml
Due: none

Path conditions:
  check-lollygag: any of: ^diracx and \.py$
  generate-pixi-docs: any of: ^pixi\.toml$|^pixi\.lock$
  settings-doc-check: any of: ^(diracx-.*/src/diracx/.*/settings\.py|docs/.*\.j2|docs/templates/.*\.jinja|scripts/generate_settings_docs\.py)$
